
@import "compass/reset";

html,body{ 
	list-style-type:none;
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;
	font-weight: normal;
	text-decoration:none;
	color:inherit;
	color: #3f3f3f;
//	letter-spacing: 1px;
	background-color: #f8f8f8;
}

input[type="text"],input[type="password"]{box-sizing:border-box;-webkit-appearance:none;outline: none;}
input[type="button"]{
   cursor: pointer;
   box-sizing: border-box;
   
} 

.clearfix:after{clear:both;content: "";display:block;font-size:0;height:0;overflow:hidden;visibility:hidden;}

.clearfix { zoom: 1; }/* for IE6 IE7 */

a:link,
a:visited{
	text-decoration: none;
	color: #3f3f3f;
}       
 
a:active,
a:hover{
	color: #adc645;
}

/* base end */