
/*footer*/
.footer{
    height: 100px;
    background-color: #666666;
    p{
        width: 1210px;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        padding-top: 25px;
        color: #9b9b9b;
        a{
            color: #fff;
        }
    }
    .top{
        color: #fff;
    }
}

/*footer end*/