
.banner{

  .edit-form{
    width:100%;
    height:auto;
    border:1px solid #ccc;
    margin-bottom: 15px;
    form{
      font-size:1.2em;
      width:95%;
      margin:10px auto;
      table{
        width: 100%;
        tr{
          padding:5px 0;
          td{
            h4{
              border-bottom: 1px solid #ccc;
            }
            input[type=text]{
              width:280px;
              height:30px;
              line-height:30px;
              border: 1px solid #aaa;
              border-radius: 3px;
            }
          }
          td.url-td{
            position: relative;
            ul.products-list{
              width:400px;
              border:1px solid #ccc;
              height:280px;
              position: absolute;
              right:10px;
              top:-100px;
              margin:0;
              padding:0;
              list-style: none;
              background: #FFF;
              overflow-y: auto;
              z-index: 555;
              li{
                width:100%;
                text-align: center;
                height:30px;
                line-height: 30px;
                cursor: pointer;
                border-bottom: 1px solid #ddd;
                background: #f5f5f5;
              }
              li:last-child{
                border:none;
              }
              li:hover{
                background: #b3d7ff;
              }
            }

          }
        }

      }
    }
  }
}

.customer-detail{
  width:100%;
  height:auto;
}