.component-search #search {
  background-color: #a78873;
  padding: 5px 10px; }
  .component-search #search .logo {
    float: left;
    width: 110px; }
    .component-search #search .logo img {
      max-height: 30px;
      max-width: 100px; }
  .component-search #search .search-form {
    float: left;
    width: 150px;
    position: relative;
    line-height: 1em; }
    .component-search #search .search-form form {
      margin-bottom: 0; }
    .component-search #search .search-form .search-keyword {
      height: 30px;
      border: 1px solid #8f5f3f;
      border-radius: 15px;
      width: 150px;
      padding: 0 40px 0 10px;
      font-size: 12px;
      color: #bfaa9a; }
    .component-search #search .search-form .search-submit {
      position: absolute;
      right: 5px;
      top: 0px;
      width: 30px;
      height: 30px;
      padding: 0;
      border: none;
      font-size: 0;
      background: url("./images/search_bt_bg.png") center center/20px 20px no-repeat; }
  .component-search #search .links {
    float: right; }
    .component-search #search .links li {
      padding: 0 0 0 10px;
      float: left; }
      .component-search #search .links li img {
        width: 1.5em;
        height: 1.5em; }
      .component-search #search .links li .search-image {
        background: url("./images/list_icon.png") left top/1.5em no-repeat;
        width: 1.5em;
        height: 1.5em; }
.component-search.tpl_2 #search .search-form {
  width: 190px; }
  .component-search.tpl_2 #search .search-form .search-keyword {
    width: 190px; }
.component-search.theme-2 #search .search-form .search-keyword {
  border-radius: 5px; }
.component-search.theme-3 #search .search-form .search-keyword {
  border-radius: 0px; }
.component-search.tpl_4 #search .links li {
  padding: 0;
  height: 30px; }
  .component-search.tpl_4 #search .links li a {
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    padding-left: 10px; }
  .component-search.tpl_4 #search .links li img {
    width: 30px;
    height: 30px; }
  .component-search.tpl_4 #search .links li:first-child a {
    padding-right: 10px;
    border-right: 1px solid #fff; }
.component-search.tpl_3 #search .links li .icon_1 {
  background: url("./images/search_icon.png") left top/1.5em no-repeat; }
.component-search.tpl_3 #search .links li .icon_2 {
  background: url("./images/cart_icon.png") left top/1.5em no-repeat; }
.component-search.tpl_3 #search .links li .icon_3 {
  background: url("./images/list_icon.png") left top/1.5em no-repeat; }
.component-search.tpl_5 #search .links li .search-image {
  background: url("./images/profile_icon.png") left top/1.5em no-repeat; }

/*
*==== edit form ====
*/
.field .logo img {
  max-width: 110px;
  max-height: 30px;
  background-color: #000; }

#component-search-form .tpl-image {
  width: 310px;
  height: 30px; }
  #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/tpl_1.png") left top/310px no-repeat; }
  #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/tpl_2.png") left top/310px no-repeat; }
  #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/tpl_3.png") left top/310px no-repeat; }
  #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/tpl_4.png") left top/310px no-repeat; }
  #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/tpl_5.png") left top/310px no-repeat; }
#component-search-form .theme-image {
  width: 310px;
  height: 32px; }
  #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/theme_1.png") left top/310px no-repeat; }
  #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/theme_2.png") left top/310px no-repeat; }
  #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/theme_3.png") left top/310px no-repeat; }
  #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/theme_4.png") left top/310px no-repeat; }

/*
*==== cute style ====
*/
.cute-01 {
  /*
  *==== cute01 edit form ====
  */ }
  .cute-01 .component-search #search {
    background-color: #fa95b2; }
    .cute-01 .component-search #search .search-form .search-keyword {
      border-color: #fa95b2;
      color: #fca3bc;
      background-color: #fadce4; }
    .cute-01 .component-search #search .search-form .search-submit {
      background: url("./images/cute01/search_bt_bg.png") center center/20px 20px no-repeat; }
  .cute-01 .component-search.tpl_4 #search .links li a {
    color: #ffffff; }
  .cute-01 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #ffffff; }
  .cute-01 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/cute01/tpl_1.png") left top/310px no-repeat; }
  .cute-01 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/cute01/tpl_2.png") left top/310px no-repeat; }
  .cute-01 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/cute01/tpl_3.png") left top/310px no-repeat; }
  .cute-01 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/cute01/tpl_4.png") left top/310px no-repeat; }
  .cute-01 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/cute01/tpl_5.png") left top/310px no-repeat; }
  .cute-01 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/cute01/theme_1.png") left top/310px no-repeat; }
  .cute-01 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/cute01/theme_2.png") left top/310px no-repeat; }
  .cute-01 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/cute01/theme_3.png") left top/310px no-repeat; }
  .cute-01 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/cute01/theme_4.png") left top/310px no-repeat; }

.cute-02 {
  /*
  *==== cute02 edit form ====
  */ }
  .cute-02 .component-search #search {
    background-color: #e0aeb9; }
    .cute-02 .component-search #search .search-form .search-keyword {
      border-color: #e0aeb9;
      color: #dcdcdc;
      background-color: #fff; }
    .cute-02 .component-search #search .search-form .search-submit {
      background: url("./images/cute02/search_bt_bg.png") center center/20px 20px no-repeat; }
  .cute-02 .component-search.tpl_4 #search .links li a {
    color: #ffffff; }
  .cute-02 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #ffffff; }
  .cute-02 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/cute02/tpl_1.png") left top/310px no-repeat; }
  .cute-02 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/cute02/tpl_2.png") left top/310px no-repeat; }
  .cute-02 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/cute02/tpl_3.png") left top/310px no-repeat; }
  .cute-02 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/cute02/tpl_4.png") left top/310px no-repeat; }
  .cute-02 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/cute02/tpl_5.png") left top/310px no-repeat; }
  .cute-02 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/cute02/theme_1.png") left top/310px no-repeat; }
  .cute-02 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/cute02/theme_2.png") left top/310px no-repeat; }
  .cute-02 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/cute02/theme_3.png") left top/310px no-repeat; }
  .cute-02 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/cute02/theme_4.png") left top/310px no-repeat; }

.cute-03 {
  /*
  *==== cute03 edit form ====
  */ }
  .cute-03 .component-search #search {
    background-color: #ffffff; }
    .cute-03 .component-search #search .search-form .search-keyword {
      border-color: #e8e8e8;
      color: #dcdcdc;
      background-color: #fff; }
    .cute-03 .component-search #search .search-form .search-submit {
      background: url("./images/cute03/search_bt_bg.png") center center/20px 20px no-repeat; }
    .cute-03 .component-search #search .links {
      float: right; }
      .cute-03 .component-search #search .links li .search-image {
        background: url("./images/cute03/list_icon.png") left top/1.5em no-repeat; }
  .cute-03 .component-search.tpl_4 #search .links li a {
    color: #ff75ac; }
  .cute-03 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #ff75ac; }
  .cute-03 .component-search.tpl_3 #search .links li .icon_1 {
    background: url("./images/cute03/search_icon.png") left top/1.5em no-repeat; }
  .cute-03 .component-search.tpl_3 #search .links li .icon_2 {
    background: url("./images/cute03/cart_icon.png") left top/1.5em no-repeat; }
  .cute-03 .component-search.tpl_3 #search .links li .icon_3 {
    background: url("./images/cute03/list_icon.png") left top/1.5em no-repeat; }
  .cute-03 .component-search.tpl_5 #search .links li .search-image {
    background: url("./images/cute03/profile_icon.png") left top/1.5em no-repeat; }
  .cute-03 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/cute03/tpl_1.png") left top/310px no-repeat; }
  .cute-03 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/cute03/tpl_2.png") left top/310px no-repeat; }
  .cute-03 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/cute03/tpl_3.png") left top/310px no-repeat; }
  .cute-03 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/cute03/tpl_4.png") left top/310px no-repeat; }
  .cute-03 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/cute03/tpl_5.png") left top/310px no-repeat; }
  .cute-03 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/cute03/theme_1.png") left top/310px no-repeat; }
  .cute-03 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/cute03/theme_2.png") left top/310px no-repeat; }
  .cute-03 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/cute03/theme_3.png") left top/310px no-repeat; }
  .cute-03 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/cute03/theme_4.png") left top/310px no-repeat; }

.cute-04 {
  /*
  *==== cute04 edit form ====
  */ }
  .cute-04 .component-search #search {
    background-color: #69d4d4; }
    .cute-04 .component-search #search .search-form .search-keyword {
      border-color: #d2f2f2;
      color: #dcdcdc;
      background-color: #fff; }
    .cute-04 .component-search #search .search-form .search-submit {
      background: url("./images/cute04/search_bt_bg.png") center center/20px 20px no-repeat; }
  .cute-04 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .cute-04 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .cute-04 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/cute04/tpl_1.png") left top/310px no-repeat; }
  .cute-04 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/cute04/tpl_2.png") left top/310px no-repeat; }
  .cute-04 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/cute04/tpl_3.png") left top/310px no-repeat; }
  .cute-04 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/cute04/tpl_4.png") left top/310px no-repeat; }
  .cute-04 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/cute04/tpl_5.png") left top/310px no-repeat; }
  .cute-04 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/cute04/theme_1.png") left top/310px no-repeat; }
  .cute-04 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/cute04/theme_2.png") left top/310px no-repeat; }
  .cute-04 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/cute04/theme_3.png") left top/310px no-repeat; }
  .cute-04 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/cute04/theme_4.png") left top/310px no-repeat; }

.cute-05 {
  /*
  *==== cute05 edit form ====
  */ }
  .cute-05 .component-search #search {
    background-color: #fa9696; }
    .cute-05 .component-search #search .search-form .search-keyword {
      border-color: #fa9696;
      color: #dcdcdc;
      background-color: #fff; }
    .cute-05 .component-search #search .search-form .search-submit {
      background: url("./images/cute05/search_bt_bg.png") center center/20px 20px no-repeat; }
  .cute-05 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .cute-05 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .cute-05 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/cute05/tpl_1.png") left top/310px no-repeat; }
  .cute-05 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/cute05/tpl_2.png") left top/310px no-repeat; }
  .cute-05 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/cute05/tpl_3.png") left top/310px no-repeat; }
  .cute-05 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/cute05/tpl_4.png") left top/310px no-repeat; }
  .cute-05 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/cute05/tpl_5.png") left top/310px no-repeat; }
  .cute-05 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/cute05/theme_1.png") left top/310px no-repeat; }
  .cute-05 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/cute05/theme_2.png") left top/310px no-repeat; }
  .cute-05 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/cute05/theme_3.png") left top/310px no-repeat; }
  .cute-05 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/cute05/theme_4.png") left top/310px no-repeat; }

.cute-06 {
  /*
  *==== cute06 edit form ====
  */ }
  .cute-06 .component-search #search {
    background-color: #987e46; }
    .cute-06 .component-search #search .search-form .search-keyword {
      border-color: #e0d9c8;
      color: #dcdcdc;
      background-color: #fff; }
    .cute-06 .component-search #search .search-form .search-submit {
      background: url("./images/cute06/search_bt_bg.png") center center/20px 20px no-repeat; }
  .cute-06 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .cute-06 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .cute-06 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/cute06/tpl_1.png") left top/310px no-repeat; }
  .cute-06 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/cute06/tpl_2.png") left top/310px no-repeat; }
  .cute-06 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/cute06/tpl_3.png") left top/310px no-repeat; }
  .cute-06 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/cute06/tpl_4.png") left top/310px no-repeat; }
  .cute-06 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/cute06/tpl_5.png") left top/310px no-repeat; }
  .cute-06 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/cute06/theme_1.png") left top/310px no-repeat; }
  .cute-06 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/cute06/theme_2.png") left top/310px no-repeat; }
  .cute-06 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/cute06/theme_3.png") left top/310px no-repeat; }
  .cute-06 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/cute06/theme_4.png") left top/310px no-repeat; }

.cute-07 {
  /*
  *==== cute07 edit form ====
  */ }
  .cute-07 .component-search #search {
    background-color: #b6d57b; }
    .cute-07 .component-search #search .search-form .search-keyword {
      border-color: #b6d57b;
      color: #dcdcdc;
      background-color: #fff; }
    .cute-07 .component-search #search .search-form .search-submit {
      background: url("./images/cute07/search_bt_bg.png") center center/20px 20px no-repeat; }
  .cute-07 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .cute-07 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .cute-07 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/cute07/tpl_1.png") left top/310px no-repeat; }
  .cute-07 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/cute07/tpl_2.png") left top/310px no-repeat; }
  .cute-07 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/cute07/tpl_3.png") left top/310px no-repeat; }
  .cute-07 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/cute07/tpl_4.png") left top/310px no-repeat; }
  .cute-07 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/cute07/tpl_5.png") left top/310px no-repeat; }
  .cute-07 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/cute07/theme_1.png") left top/310px no-repeat; }
  .cute-07 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/cute07/theme_2.png") left top/310px no-repeat; }
  .cute-07 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/cute07/theme_3.png") left top/310px no-repeat; }
  .cute-07 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/cute07/theme_4.png") left top/310px no-repeat; }

.cute-08 {
  /*
  *==== cute08 edit form ====
  */ }
  .cute-08 .component-search #search {
    background-color: #e29842; }
    .cute-08 .component-search #search .search-form .search-keyword {
      border-color: #e29842;
      color: #dcdcdc;
      background-color: #fff; }
    .cute-08 .component-search #search .search-form .search-submit {
      background: url("./images/cute08/search_bt_bg.png") center center/20px 20px no-repeat; }
  .cute-08 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .cute-08 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .cute-08 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/cute08/tpl_1.png") left top/310px no-repeat; }
  .cute-08 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/cute08/tpl_2.png") left top/310px no-repeat; }
  .cute-08 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/cute08/tpl_3.png") left top/310px no-repeat; }
  .cute-08 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/cute08/tpl_4.png") left top/310px no-repeat; }
  .cute-08 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/cute08/tpl_5.png") left top/310px no-repeat; }
  .cute-08 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/cute08/theme_1.png") left top/310px no-repeat; }
  .cute-08 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/cute08/theme_2.png") left top/310px no-repeat; }
  .cute-08 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/cute08/theme_3.png") left top/310px no-repeat; }
  .cute-08 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/cute08/theme_4.png") left top/310px no-repeat; }

.cute-09 {
  /*
  *==== cute09 edit form ====
  */ }
  .cute-09 .component-search #search {
    background-color: #e86c6c; }
    .cute-09 .component-search #search .search-form .search-keyword {
      border-color: #e86c6c;
      color: #dcdcdc;
      background-color: #fff; }
    .cute-09 .component-search #search .search-form .search-submit {
      background: url("./images/cute09/search_bt_bg.png") center center/20px 20px no-repeat; }
  .cute-09 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .cute-09 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .cute-09 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/cute09/tpl_1.png") left top/310px no-repeat; }
  .cute-09 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/cute09/tpl_2.png") left top/310px no-repeat; }
  .cute-09 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/cute09/tpl_3.png") left top/310px no-repeat; }
  .cute-09 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/cute09/tpl_4.png") left top/310px no-repeat; }
  .cute-09 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/cute09/tpl_5.png") left top/310px no-repeat; }
  .cute-09 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/cute09/theme_1.png") left top/310px no-repeat; }
  .cute-09 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/cute09/theme_2.png") left top/310px no-repeat; }
  .cute-09 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/cute09/theme_3.png") left top/310px no-repeat; }
  .cute-09 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/cute09/theme_4.png") left top/310px no-repeat; }

.cute-10 {
  /*
  *==== cute10 edit form ====
  */ }
  .cute-10 .component-search #search {
    background-color: #b396df; }
    .cute-10 .component-search #search .search-form .search-keyword {
      border-color: #b396df;
      color: #dcdcdc;
      background-color: #fff; }
    .cute-10 .component-search #search .search-form .search-submit {
      background: url("./images/cute10/search_bt_bg.png") center center/20px 20px no-repeat; }
  .cute-10 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .cute-10 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .cute-10 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/cute10/tpl_1.png") left top/310px no-repeat; }
  .cute-10 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/cute10/tpl_2.png") left top/310px no-repeat; }
  .cute-10 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/cute10/tpl_3.png") left top/310px no-repeat; }
  .cute-10 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/cute10/tpl_4.png") left top/310px no-repeat; }
  .cute-10 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/cute10/tpl_5.png") left top/310px no-repeat; }
  .cute-10 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/cute10/theme_1.png") left top/310px no-repeat; }
  .cute-10 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/cute10/theme_2.png") left top/310px no-repeat; }
  .cute-10 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/cute10/theme_3.png") left top/310px no-repeat; }
  .cute-10 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/cute10/theme_4.png") left top/310px no-repeat; }

/*
*==== cute style  end====
*/
/*
*==== fresh style ====
*/
.fresh-01 {
  /*
  *==== fresh01 edit form ====
  */ }
  .fresh-01 .component-search #search {
    background-color: #60b49d; }
    .fresh-01 .component-search #search .search-form .search-keyword {
      border-color: #41a489;
      color: #c7c7c7;
      background-color: #fff; }
    .fresh-01 .component-search #search .search-form .search-submit {
      background: url("./images/fresh01/search_bt_bg.png") center center/20px 20px no-repeat; }
  .fresh-01 .component-search.tpl_4 #search .links li a {
    color: #ffffff; }
  .fresh-01 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #ffffff; }
  .fresh-01 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/fresh01/tpl_1.png") left top/310px no-repeat; }
  .fresh-01 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/fresh01/tpl_2.png") left top/310px no-repeat; }
  .fresh-01 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/fresh01/tpl_3.png") left top/310px no-repeat; }
  .fresh-01 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/fresh01/tpl_4.png") left top/310px no-repeat; }
  .fresh-01 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/fresh01/tpl_5.png") left top/310px no-repeat; }
  .fresh-01 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/fresh01/theme_1.png") left top/310px no-repeat; }
  .fresh-01 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/fresh01/theme_2.png") left top/310px no-repeat; }
  .fresh-01 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/fresh01/theme_3.png") left top/310px no-repeat; }
  .fresh-01 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/fresh01/theme_4.png") left top/310px no-repeat; }

.fresh-02 {
  /*
  *==== fresh02 edit form ====
  */ }
  .fresh-02 .component-search #search {
    background-color: #fb939a; }
    .fresh-02 .component-search #search .search-form .search-keyword {
      border-color: #fd9092;
      color: #c7c7c7;
      background-color: #fff; }
    .fresh-02 .component-search #search .search-form .search-submit {
      background: url("./images/fresh02/search_bt_bg.png") center center/20px 20px no-repeat; }
  .fresh-02 .component-search.tpl_4 #search .links li a {
    color: #ffffff; }
  .fresh-02 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #ffffff; }
  .fresh-02 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/fresh02/tpl_1.png") left top/310px no-repeat; }
  .fresh-02 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/fresh02/tpl_2.png") left top/310px no-repeat; }
  .fresh-02 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/fresh02/tpl_3.png") left top/310px no-repeat; }
  .fresh-02 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/fresh02/tpl_4.png") left top/310px no-repeat; }
  .fresh-02 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/fresh02/tpl_5.png") left top/310px no-repeat; }
  .fresh-02 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/fresh02/theme_1.png") left top/310px no-repeat; }
  .fresh-02 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/fresh02/theme_2.png") left top/310px no-repeat; }
  .fresh-02 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/fresh02/theme_3.png") left top/310px no-repeat; }
  .fresh-02 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/fresh02/theme_4.png") left top/310px no-repeat; }

.fresh-03 {
  /*
  *==== fresh03 edit form ====
  */ }
  .fresh-03 .component-search #search {
    background-color: #19989f; }
    .fresh-03 .component-search #search .search-form .search-keyword {
      border-color: #41a489;
      color: #7c7c7c;
      background-color: #fff; }
    .fresh-03 .component-search #search .search-form .search-submit {
      background: url("./images/fresh03/search_bt_bg.png") center center/20px 20px no-repeat; }
  .fresh-03 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .fresh-03 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .fresh-03 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/fresh03/tpl_1.png") left top/310px no-repeat; }
  .fresh-03 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/fresh03/tpl_2.png") left top/310px no-repeat; }
  .fresh-03 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/fresh03/tpl_3.png") left top/310px no-repeat; }
  .fresh-03 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/fresh03/tpl_4.png") left top/310px no-repeat; }
  .fresh-03 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/fresh03/tpl_5.png") left top/310px no-repeat; }
  .fresh-03 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/fresh03/theme_1.png") left top/310px no-repeat; }
  .fresh-03 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/fresh03/theme_2.png") left top/310px no-repeat; }
  .fresh-03 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/fresh03/theme_3.png") left top/310px no-repeat; }
  .fresh-03 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/fresh03/theme_4.png") left top/310px no-repeat; }

.fresh-04 {
  /*
  *==== fresh04 edit form ====
  */ }
  .fresh-04 .component-search #search {
    background-color: #97c8d6; }
    .fresh-04 .component-search #search .search-form .search-keyword {
      border-color: #97c8d6;
      color: #c7c7c7;
      background-color: #fff; }
    .fresh-04 .component-search #search .search-form .search-submit {
      background: url("./images/fresh04/search_bt_bg.png") center center/20px 20px no-repeat; }
  .fresh-04 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .fresh-04 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .fresh-04 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/fresh04/tpl_1.png") left top/310px no-repeat; }
  .fresh-04 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/fresh04/tpl_2.png") left top/310px no-repeat; }
  .fresh-04 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/fresh04/tpl_3.png") left top/310px no-repeat; }
  .fresh-04 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/fresh04/tpl_4.png") left top/310px no-repeat; }
  .fresh-04 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/fresh04/tpl_5.png") left top/310px no-repeat; }
  .fresh-04 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/fresh04/theme_1.png") left top/310px no-repeat; }
  .fresh-04 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/fresh04/theme_2.png") left top/310px no-repeat; }
  .fresh-04 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/fresh04/theme_3.png") left top/310px no-repeat; }
  .fresh-04 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/fresh04/theme_4.png") left top/310px no-repeat; }

.fresh-05 {
  /*
  *==== fresh05 edit form ====
  */ }
  .fresh-05 .component-search #search {
    background-color: #a3bacd; }
    .fresh-05 .component-search #search .search-form .search-keyword {
      border-color: #a3bacd;
      color: #7c7c7c;
      background-color: #fff; }
    .fresh-05 .component-search #search .search-form .search-submit {
      background: url("./images/fresh05/search_bt_bg.png") center center/20px 20px no-repeat; }
  .fresh-05 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .fresh-05 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .fresh-05 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/fresh05/tpl_1.png") left top/310px no-repeat; }
  .fresh-05 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/fresh05/tpl_2.png") left top/310px no-repeat; }
  .fresh-05 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/fresh05/tpl_3.png") left top/310px no-repeat; }
  .fresh-05 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/fresh05/tpl_4.png") left top/310px no-repeat; }
  .fresh-05 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/fresh05/tpl_5.png") left top/310px no-repeat; }
  .fresh-05 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/fresh05/theme_1.png") left top/310px no-repeat; }
  .fresh-05 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/fresh05/theme_2.png") left top/310px no-repeat; }
  .fresh-05 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/fresh05/theme_3.png") left top/310px no-repeat; }
  .fresh-05 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/fresh05/theme_4.png") left top/310px no-repeat; }

.fresh-06 {
  /*
  *==== fresh06 edit form ====
  */ }
  .fresh-06 .component-search #search {
    background-color: #a7a5b6; }
    .fresh-06 .component-search #search .search-form .search-keyword {
      border-color: #a7a5b6;
      color: #7c7c7c;
      background-color: #fff; }
    .fresh-06 .component-search #search .search-form .search-submit {
      background: url("./images/fresh06/search_bt_bg.png") center center/20px 20px no-repeat; }
  .fresh-06 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .fresh-06 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .fresh-06 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/fresh06/tpl_1.png") left top/310px no-repeat; }
  .fresh-06 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/fresh06/tpl_2.png") left top/310px no-repeat; }
  .fresh-06 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/fresh06/tpl_3.png") left top/310px no-repeat; }
  .fresh-06 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/fresh06/tpl_4.png") left top/310px no-repeat; }
  .fresh-06 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/fresh06/tpl_5.png") left top/310px no-repeat; }
  .fresh-06 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/fresh06/theme_1.png") left top/310px no-repeat; }
  .fresh-06 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/fresh06/theme_2.png") left top/310px no-repeat; }
  .fresh-06 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/fresh06/theme_3.png") left top/310px no-repeat; }
  .fresh-06 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/fresh06/theme_4.png") left top/310px no-repeat; }

.fresh-07 {
  /*
  *==== fresh07 edit form ====
  */ }
  .fresh-07 .component-search #search {
    background-color: #fff; }
    .fresh-07 .component-search #search .search-form .search-keyword {
      border-color: #cdcdcd;
      color: #c7c7c7;
      background-color: #fff; }
    .fresh-07 .component-search #search .search-form .search-submit {
      background: url("./images/fresh07/search_bt_bg.png") center center/20px 20px no-repeat; }
    .fresh-07 .component-search #search .links {
      float: right; }
      .fresh-07 .component-search #search .links li .search-image {
        background: url("./images/fresh07/list_icon.png") left top/1.5em no-repeat; }
  .fresh-07 .component-search.tpl_4 #search .links li a {
    color: #515151; }
  .fresh-07 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #515151; }
  .fresh-07 .component-search.tpl_3 #search .links li .icon_1 {
    background: url("./images/fresh07/search_icon.png") left top/1.5em no-repeat; }
  .fresh-07 .component-search.tpl_3 #search .links li .icon_2 {
    background: url("./images/fresh07/cart_icon.png") left top/1.5em no-repeat; }
  .fresh-07 .component-search.tpl_3 #search .links li .icon_3 {
    background: url("./images/fresh07/list_icon.png") left top/1.5em no-repeat; }
  .fresh-07 .component-search.tpl_5 #search .links li .search-image {
    background: url("./images/fresh07/profile_icon.png") left top/1.5em no-repeat; }
  .fresh-07 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/fresh07/tpl_1.png") left top/310px no-repeat; }
  .fresh-07 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/fresh07/tpl_2.png") left top/310px no-repeat; }
  .fresh-07 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/fresh07/tpl_3.png") left top/310px no-repeat; }
  .fresh-07 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/fresh07/tpl_4.png") left top/310px no-repeat; }
  .fresh-07 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/fresh07/tpl_5.png") left top/310px no-repeat; }
  .fresh-07 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/fresh07/theme_1.png") left top/310px no-repeat; }
  .fresh-07 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/fresh07/theme_2.png") left top/310px no-repeat; }
  .fresh-07 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/fresh07/theme_3.png") left top/310px no-repeat; }
  .fresh-07 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/fresh07/theme_4.png") left top/310px no-repeat; }

.fresh-08 {
  /*
  *==== fresh08 edit form ====
  */ }
  .fresh-08 .component-search #search {
    background-color: #fff; }
    .fresh-08 .component-search #search .search-form .search-keyword {
      border-color: #cdcdcd;
      color: #c7c7c7;
      background-color: #fff; }
    .fresh-08 .component-search #search .search-form .search-submit {
      background: url("./images/fresh08/search_bt_bg.png") center center/20px 20px no-repeat; }
    .fresh-08 .component-search #search .links {
      float: right; }
      .fresh-08 .component-search #search .links li .search-image {
        background: url("./images/fresh08/list_icon.png") left top/1.5em no-repeat; }
  .fresh-08 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .fresh-08 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .fresh-08 .component-search.tpl_3 #search .links li .icon_1 {
    background: url("./images/fresh08/search_icon.png") left top/1.5em no-repeat; }
  .fresh-08 .component-search.tpl_3 #search .links li .icon_2 {
    background: url("./images/fresh08/cart_icon.png") left top/1.5em no-repeat; }
  .fresh-08 .component-search.tpl_3 #search .links li .icon_3 {
    background: url("./images/fresh08/list_icon.png") left top/1.5em no-repeat; }
  .fresh-08 .component-search.tpl_5 #search .links li .search-image {
    background: url("./images/fresh08/profile_icon.png") left top/1.5em no-repeat; }
  .fresh-08 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/fresh08/tpl_1.png") left top/310px no-repeat; }
  .fresh-08 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/fresh08/tpl_2.png") left top/310px no-repeat; }
  .fresh-08 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/fresh08/tpl_3.png") left top/310px no-repeat; }
  .fresh-08 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/fresh08/tpl_4.png") left top/310px no-repeat; }
  .fresh-08 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/fresh08/tpl_5.png") left top/310px no-repeat; }
  .fresh-08 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/fresh08/theme_1.png") left top/310px no-repeat; }
  .fresh-08 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/fresh08/theme_2.png") left top/310px no-repeat; }
  .fresh-08 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/fresh08/theme_3.png") left top/310px no-repeat; }
  .fresh-08 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/fresh08/theme_4.png") left top/310px no-repeat; }

.fresh-09 {
  /*
  *==== fresh09 edit form ====
  */ }
  .fresh-09 .component-search #search {
    background-color: #b0b0b0; }
    .fresh-09 .component-search #search .search-form .search-keyword {
      border-color: #b0b0b0;
      color: #c7c7c7;
      background-color: #fff; }
    .fresh-09 .component-search #search .search-form .search-submit {
      background: url("./images/fresh09/search_bt_bg.png") center center/20px 20px no-repeat; }
  .fresh-09 .component-search.tpl_4 #search .links li a {
    color: #fff; }
  .fresh-09 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #fff; }
  .fresh-09 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/fresh09/tpl_1.png") left top/310px no-repeat; }
  .fresh-09 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/fresh09/tpl_2.png") left top/310px no-repeat; }
  .fresh-09 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/fresh09/tpl_3.png") left top/310px no-repeat; }
  .fresh-09 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/fresh09/tpl_4.png") left top/310px no-repeat; }
  .fresh-09 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/fresh09/tpl_5.png") left top/310px no-repeat; }
  .fresh-09 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/fresh09/theme_1.png") left top/310px no-repeat; }
  .fresh-09 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/fresh09/theme_2.png") left top/310px no-repeat; }
  .fresh-09 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/fresh09/theme_3.png") left top/310px no-repeat; }
  .fresh-09 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/fresh09/theme_4.png") left top/310px no-repeat; }

.fresh-10 {
  /*
  *==== fresh10 edit form ====
  */ }
  .fresh-10 .component-search #search {
    background-color: #fff; }
    .fresh-10 .component-search #search .search-form .search-keyword {
      border-color: #cdcdcd;
      color: #c7c7c7;
      background-color: #fff; }
    .fresh-10 .component-search #search .search-form .search-submit {
      background: url("./images/fresh10/search_bt_bg.png") center center/20px 20px no-repeat; }
    .fresh-10 .component-search #search .links {
      float: right; }
      .fresh-10 .component-search #search .links li .search-image {
        background: url("./images/fresh10/list_icon.png") left top/1.5em no-repeat; }
  .fresh-10 .component-search.tpl_4 #search .links li a {
    color: #ff915a; }
  .fresh-10 .component-search.tpl_4 #search .links li:first-child a {
    border-color: #ff915a; }
  .fresh-10 .component-search.tpl_3 #search .links li .icon_1 {
    background: url("./images/fresh10/search_icon.png") left top/1.5em no-repeat; }
  .fresh-10 .component-search.tpl_3 #search .links li .icon_2 {
    background: url("./images/fresh10/cart_icon.png") left top/1.5em no-repeat; }
  .fresh-10 .component-search.tpl_3 #search .links li .icon_3 {
    background: url("./images/fresh10/list_icon.png") left top/1.5em no-repeat; }
  .fresh-10 .component-search.tpl_5 #search .links li .search-image {
    background: url("./images/fresh10/profile_icon.png") left top/1.5em no-repeat; }
  .fresh-10 #component-search-form .tpl-image.tpl_1 {
    background: url("/marionette/js/components/search/images/fresh10/tpl_1.png") left top/310px no-repeat; }
  .fresh-10 #component-search-form .tpl-image.tpl_2 {
    background: url("/marionette/js/components/search/images/fresh10/tpl_2.png") left top/310px no-repeat; }
  .fresh-10 #component-search-form .tpl-image.tpl_3 {
    background: url("/marionette/js/components/search/images/fresh10/tpl_3.png") left top/310px no-repeat; }
  .fresh-10 #component-search-form .tpl-image.tpl_4 {
    background: url("/marionette/js/components/search/images/fresh10/tpl_4.png") left top/310px no-repeat; }
  .fresh-10 #component-search-form .tpl-image.tpl_5 {
    background: url("/marionette/js/components/search/images/fresh10/tpl_5.png") left top/310px no-repeat; }
  .fresh-10 #component-search-form .theme-image.theme-1 {
    background: url("/marionette/js/components/search/images/fresh10/theme_1.png") left top/310px no-repeat; }
  .fresh-10 #component-search-form .theme-image.theme-2 {
    background: url("/marionette/js/components/search/images/fresh10/theme_2.png") left top/310px no-repeat; }
  .fresh-10 #component-search-form .theme-image.theme-3 {
    background: url("/marionette/js/components/search/images/fresh10/theme_3.png") left top/310px no-repeat; }
  .fresh-10 #component-search-form .theme-image.theme-4 {
    background: url("/marionette/js/components/search/images/fresh10/theme_4.png") left top/310px no-repeat; }

/*
*==== fresh style end====
*/

/*# sourceMappingURL=style.css.map */
