/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/base.scss */
html, body {
  list-style-type: none;
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
  color: #3f3f3f;
  background-color: #f8f8f8;
}

/* line 15, ../sass/base.scss */
input[type="text"], input[type="password"] {
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: none;
}

/* line 16, ../sass/base.scss */
input[type="button"] {
  cursor: pointer;
  box-sizing: border-box;
}

/* line 22, ../sass/base.scss */
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* line 24, ../sass/base.scss */
.clearfix {
  zoom: 1;
}

/* for IE6 IE7 */
/* line 26, ../sass/base.scss */
a:link,
a:visited {
  text-decoration: none;
  color: #3f3f3f;
}

/* line 32, ../sass/base.scss */
a:active,
a:hover {
  color: #adc645;
}

/* base end */
/* header */
/* line 4, ../sass/head.scss */
.header {
  background-color: #2e2f30;
  height: 100px;
}

/* line 8, ../sass/head.scss */
.head-wrap {
  width: 1210px;
  margin: 0 auto;
}

/* line 13, ../sass/head.scss */
.head-logo {
  width: 165px;
  float: left;
}
/* line 16, ../sass/head.scss */
.head-logo a {
  display: block;
  width: 161px;
  padding-top: 33px;
}
/* line 20, ../sass/head.scss */
.head-logo a img {
  width: 100%;
  vertical-align: middle;
}

/* line 26, ../sass/head.scss */
.head-menu {
  float: left;
  padding-top: 45px;
}
/* line 30, ../sass/head.scss */
.head-menu ul li {
  float: left;
  margin-left: 40px;
}
/* line 33, ../sass/head.scss */
.head-menu ul li a {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  font-size: 18px;
  color: #9b9b9b;
}
/* line 39, ../sass/head.scss */
.head-menu ul li a:hover {
  color: #adc645;
}
/* line 42, ../sass/head.scss */
.head-menu ul li a:hover .icon {
  background: url("../images/icon/menu-icon-h.png") no-repeat 0 0;
}
/* line 45, ../sass/head.scss */
.head-menu ul li a:hover .commodity-icon {
  background-position: -31px 0;
}
/* line 48, ../sass/head.scss */
.head-menu ul li a:hover .vip-icon {
  background-position: -62px 0;
}
/* line 51, ../sass/head.scss */
.head-menu ul li a:hover .activity-icon {
  background-position: -93px 0;
}
/* line 54, ../sass/head.scss */
.head-menu ul li a:hover .data-icon {
  background-position: -124px 0;
}
/* line 57, ../sass/head.scss */
.head-menu ul li a:hover .my-app-icon {
  background-position: -155px 0;
}
/* line 60, ../sass/head.scss */
.head-menu ul li a .icon {
  display: inline-block;
  width: 31px;
  height: 27px;
  background: url("../images/icon/menu-icon.png") no-repeat 0 0;
  vertical-align: top;
  margin-right: 6px;
}
/* line 68, ../sass/head.scss */
.head-menu ul li a .commodity-icon {
  background-position: -31px 0;
}
/* line 71, ../sass/head.scss */
.head-menu ul li a .vip-icon {
  background-position: -62px 0;
}
/* line 74, ../sass/head.scss */
.head-menu ul li a .activity-icon {
  background-position: -93px 0;
}
/* line 77, ../sass/head.scss */
.head-menu ul li a .data-icon {
  background-position: -124px 0;
}
/* line 80, ../sass/head.scss */
.head-menu ul li a .my-app-icon {
  background-position: -155px 0;
}
/* line 85, ../sass/head.scss */
.head-menu ul li.current a {
  color: #adc645;
}
/* line 87, ../sass/head.scss */
.head-menu ul li.current a .icon {
  background: url("../images/icon/menu-icon-h.png") no-repeat 0 0;
}
/* line 90, ../sass/head.scss */
.head-menu ul li.current a .commodity-icon {
  background-position: -31px 0;
}
/* line 93, ../sass/head.scss */
.head-menu ul li.current a .vip-icon {
  background-position: -62px 0;
}
/* line 96, ../sass/head.scss */
.head-menu ul li.current a .activity-icon {
  background-position: -93px 0;
}
/* line 99, ../sass/head.scss */
.head-menu ul li.current a .data-icon {
  background-position: -124px 0;
}
/* line 102, ../sass/head.scss */
.head-menu ul li.current a .my-app-icon {
  background-position: -155px 0;
}

/* line 113, ../sass/head.scss */
.login-inf {
  float: right;
  padding-top: 30px;
  line-height: 54px;
}
/* line 117, ../sass/head.scss */
.login-inf .head-portrait {
  display: inline-block;
  height: 54px;
  width: 54px;
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  -o-border-radius: 54px;
  border-radius: 54px;
}
/* line 125, ../sass/head.scss */
.login-inf .head-portrait img {
  width: 100%;
  vertical-align: middle;
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  -o-border-radius: 54px;
  border-radius: 54px;
}
/* line 134, ../sass/head.scss */
.login-inf .login-account {
  display: inline-block;
  height: 18px;
  padding: 0 12px 0 12px;
  line-height: 18px;
  color: #9b9b9b;
}
/* line 140, ../sass/head.scss */
.login-inf .login-account:hover {
  color: #adc645;
}
/* line 144, ../sass/head.scss */
.login-inf .drop-down {
  display: inline-block;
  height: 9px;
  width: 14px;
  background: url("../images/icon/drop-down-icon.png") no-repeat center;
  cursor: pointer;
}

/* header end*/
/* line 5, ../sass/main.scss */
#main {
  width: 1210px;
  margin: 25px auto 0;
  position: relative;
}

/* line 10, ../sass/main.scss */
.main-wrap {
  padding-left: 165px;
  padding-bottom: 40px;
}

/* line 14, ../sass/main.scss */
.main-left {
  width: 165px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 22, ../sass/main.scss */
.main-right iframe {
  /*height: 100%;*/
  width: 100%;
}

/* line 28, ../sass/main.scss */
.menu {
  text-align: center;
}
/* line 30, ../sass/main.scss */
.menu ul {
  margin-bottom: 24px;
}
/* line 32, ../sass/main.scss */
.menu ul li {
  height: 30px;
  line-height: 30px;
}
/* line 35, ../sass/main.scss */
.menu ul li a {
  font-size: 14px;
}
/* line 45, ../sass/main.scss */
.menu .products-menu .set-up-block .set-up-button {
  background-color: #43bb00;
}

/*search*/
/* line 58, ../sass/main.scss */
.search .search-top {
  padding-bottom: 10px;
}
/* line 60, ../sass/main.scss */
.search .search-top .name {
  display: inline-block;
  font-size: 12px;
  width: 250px;
  height: 28px;
  padding: 5px 7px;
  line-height: 28px;
  color: #9c9c9c;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
}
/* line 76, ../sass/main.scss */
.search .search-top .submit {
  display: inline-block;
  font-size: 16px;
  width: 105px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  border: none;
  background-color: #41abf5;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 20px;
}
/* line 89, ../sass/main.scss */
.search .search-top .more-filter {
  font-size: 14px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding-right: 20px;
  background: url("../images/icon/arrow-icon.png") no-repeat right center;
  cursor: pointer;
  vertical-align: middle;
}
/* line 99, ../sass/main.scss */
.search .search-top .search-top-right {
  float: right;
}
/* line 101, ../sass/main.scss */
.search .search-top .search-top-right .stock-faq {
  line-height: 16px;
  height: 16px;
  width: auto;
  padding-left: 20px;
  background: url("../images/icon/faq-icon.png") no-repeat left center;
}
/* line 107, ../sass/main.scss */
.search .search-top .search-top-right .stock-faq:hover {
  background: url("../images/icon/faq-icon-h.png") no-repeat left center;
}
/* line 113, ../sass/main.scss */
.search .search-bottom {
  display: none;
}
/* line 116, ../sass/main.scss */
.search .search-bottom .filter-list ul {
  width: 870px;
}
/* line 118, ../sass/main.scss */
.search .search-bottom .filter-list ul li {
  float: left;
  margin: 0  40px 10px 0;
}
/* line 121, ../sass/main.scss */
.search .search-bottom .filter-list ul li span {
  display: inline-block;
  width: 65px;
  text-align: right;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
}
/* line 130, ../sass/main.scss */
.search .search-bottom .filter-list ul li input {
  display: inline-block;
  font-size: 14px;
  width: 120px;
  height: 28px;
  padding: 5px 7px;
  line-height: 28px;
  color: #9c9c9c;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
}
/* line 146, ../sass/main.scss */
.search .search-bottom .filter-list ul li select {
  display: inline-block;
  font-size: 14px;
  width: 120px;
  height: 28px;
  padding: 0 7px;
  line-height: 28px;
  color: #9c9c9c;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
}

/* line 167, ../sass/main.scss */
.search-open.search .search-bottom {
  display: block;
}

/*search end*/
/* line 173, ../sass/main.scss */
.order-form-list-con {
  padding-top: 10px;
}

/*form-pagelist*/
/* line 181, ../sass/main.scss */
.form-pagelist select {
  display: inline-block;
  width: 80px;
  /*padding: 0 7px;*/
  height: 24px;
  line-height: 24px;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 15px;
}
/* line 196, ../sass/main.scss */
.form-pagelist.batch-open .pagelist-left .batch-box {
  display: inline-block;
}
/* line 199, ../sass/main.scss */
.form-pagelist.batch-open .pagelist-left .return-botton {
  display: none;
}
/* line 202, ../sass/main.scss */
.form-pagelist.batch-open .pagelist-left .batch-botton {
  display: none;
}
/* line 206, ../sass/main.scss */
.form-pagelist .pagelist-left {
  float: left;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
/* line 211, ../sass/main.scss */
.form-pagelist .pagelist-left input {
  vertical-align: middle;
}
/* line 214, ../sass/main.scss */
.form-pagelist .pagelist-left span {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
/* line 220, ../sass/main.scss */
.form-pagelist .pagelist-left a {
  cursor: pointer;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  border: 1px solid #a0a0a0;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: 15px;
  vertical-align: middle;
  padding: 0 10px;
}
/* line 235, ../sass/main.scss */
.form-pagelist .pagelist-left .c-img-num {
  margin-right: 50px;
}
/* line 238, ../sass/main.scss */
.form-pagelist .pagelist-left .batch-box {
  margin-right: 90px;
  width: 520px;
  display: none;
}
/* line 244, ../sass/main.scss */
.form-pagelist .pagelist-right {
  float: right;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
/* line 249, ../sass/main.scss */
.form-pagelist .pagelist-right a {
  margin: 0 5px;
  vertical-align: middle;
}
/* line 252, ../sass/main.scss */
.form-pagelist .pagelist-right a:hover {
  color: #41abf5;
}
/* line 256, ../sass/main.scss */
.form-pagelist .pagelist-right i {
  margin: 0 5px;
  vertical-align: middle;
}

/*form-pagelist end*/
/*order-form-list*/
/* line 267, ../sass/main.scss */
.order-form-list {
  margin-top: 15px;
}
/* line 269, ../sass/main.scss */
.order-form-list .order-form-th {
  width: 100%;
}
/* line 272, ../sass/main.scss */
.order-form-list .order-form-th table tr {
  border-bottom: 1px solid #e5e5e5;
  height: 26px;
  line-height: 26px;
}
/* line 276, ../sass/main.scss */
.order-form-list .order-form-th table tr th {
  font-size: 12px;
}
/* line 279, ../sass/main.scss */
.order-form-list .order-form-th table tr .one {
  width: 265px;
}
/* line 282, ../sass/main.scss */
.order-form-list .order-form-th table tr .two, .order-form-list .order-form-th table tr .three, .order-form-list .order-form-th table tr .four, .order-form-list .order-form-th table tr .six, .order-form-list .order-form-th table tr .sev {
  width: 80px;
  text-align: center;
}
/* line 286, ../sass/main.scss */
.order-form-list .order-form-th table tr .five {
  width: 50px;
  text-align: center;
}
/* line 290, ../sass/main.scss */
.order-form-list .order-form-th table tr .sev {
  width: 90px;
  text-align: center;
}
/* line 294, ../sass/main.scss */
.order-form-list .order-form-th table tr .eig, .order-form-list .order-form-th table tr .nine {
  width: 160px;
}

/* line 301, ../sass/main.scss */
.order-form-item {
  margin-top: 5px;
  font-size: 12px;
}
/* line 304, ../sass/main.scss */
.order-form-item .item-top {
  height: 25px;
  line-height: 25px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
}
/* line 309, ../sass/main.scss */
.order-form-item .item-top .top-left {
  float: left;
}
/* line 311, ../sass/main.scss */
.order-form-item .item-top .top-left input {
  vertical-align: middle;
}
/* line 314, ../sass/main.scss */
.order-form-item .item-top .top-left i {
  margin: 0 15px;
  vertical-align: middle;
}
/* line 319, ../sass/main.scss */
.order-form-item .item-top .top-right {
  float: right;
}
/* line 321, ../sass/main.scss */
.order-form-item .item-top .top-right span {
  vertical-align: middle;
}
/* line 324, ../sass/main.scss */
.order-form-item .item-top .top-right a {
  vertical-align: middle;
  margin: 0 10px;
  color: #888888;
}
/* line 328, ../sass/main.scss */
.order-form-item .item-top .top-right a:hover {
  color: #41abf5;
}
/* line 332, ../sass/main.scss */
.order-form-item .item-top .top-right .detail-link {
  margin: 0;
  color: #41abf5;
}
/* line 342, ../sass/main.scss */
.order-form-item .table-wrap .wrap-td {
  width: 160px;
  vertical-align: top;
}
/* line 346, ../sass/main.scss */
.order-form-item .table-wrap .wrap-td p {
  line-height: 18px;
}
/* line 348, ../sass/main.scss */
.order-form-item .table-wrap .wrap-td p .to-revise {
  color: #41abf5;
  display: inline-block;
}
/* line 353, ../sass/main.scss */
.order-form-item .table-wrap .wrap-td .last {
  text-align: center;
}
/* line 358, ../sass/main.scss */
.order-form-item .table-wrap .first {
  width: 725px;
}
/* line 360, ../sass/main.scss */
.order-form-item .table-wrap .first tr {
  height: 80px;
}
/* line 363, ../sass/main.scss */
.order-form-item .table-wrap .first td {
  vertical-align: top;
  line-height: 18px;
}
/* line 366, ../sass/main.scss */
.order-form-item .table-wrap .first td a {
  color: #3f3f3f;
}
/* line 369, ../sass/main.scss */
.order-form-item .table-wrap .first td .trading-success {
  color: #adc645;
}
/* line 372, ../sass/main.scss */
.order-form-item .table-wrap .first td .refund-success {
  color: #e39925;
}
/* line 378, ../sass/main.scss */
.order-form-item .table-wrap .first .one {
  width: 60px;
}
/* line 381, ../sass/main.scss */
.order-form-item .table-wrap .first .two {
  width: 205px;
}
/* line 385, ../sass/main.scss */
.order-form-item .table-wrap .first .td-wrap {
  padding-left: 10px;
}
/* line 387, ../sass/main.scss */
.order-form-item .table-wrap .first .td-wrap p {
  line-height: 16px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
/* line 395, ../sass/main.scss */
.order-form-item .table-wrap .first .td-wrap i {
  color: #888888;
  line-height: 1;
}
/* line 401, ../sass/main.scss */
.order-form-item .table-wrap .first .three, .order-form-item .table-wrap .first .four, .order-form-item .table-wrap .first .five, .order-form-item .table-wrap .first .sev {
  width: 80px;
  text-align: center;
}
/* line 405, ../sass/main.scss */
.order-form-item .table-wrap .first .six {
  width: 50px;
  text-align: center;
}
/* line 409, ../sass/main.scss */
.order-form-item .table-wrap .first .eig {
  width: 90px;
  text-align: center;
}
/* line 412, ../sass/main.scss */
.order-form-item .table-wrap .first .eig a {
  display: block;
}

/*order-form-list end*/
/*order-form-detail*/
/* line 427, ../sass/main.scss */
.serial-number {
  font-size: 18px;
  color: #1347b1;
  line-height: 30px;
}

/* line 432, ../sass/main.scss */
.flow-step {
  margin-top: 30px;
}
/* line 434, ../sass/main.scss */
.flow-step ul {
  width: 1045px;
}
/* line 436, ../sass/main.scss */
.flow-step ul li {
  width: 209px;
  float: left;
}
/* line 439, ../sass/main.scss */
.flow-step ul li .step-wrap {
  text-align: center;
  font-size: 16px;
}
/* line 445, ../sass/main.scss */
.flow-step ul li .step-wrap .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step02.png") no-repeat center;
}
/* line 450, ../sass/main.scss */
.flow-step ul li .step-wrap .step-time {
  color: #888888;
}
/* line 454, ../sass/main.scss */
.flow-step ul li .step-done {
  text-align: center;
  font-size: 16px;
}
/* line 457, ../sass/main.scss */
.flow-step ul li .step-done .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step02-s.png") no-repeat center;
}
/* line 467, ../sass/main.scss */
.flow-step ul .first .step-wrap .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step01.png") no-repeat center;
}
/* line 473, ../sass/main.scss */
.flow-step ul .first .step-done {
  text-align: center;
  font-size: 16px;
}
/* line 476, ../sass/main.scss */
.flow-step ul .first .step-done .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step01-s.png") no-repeat center;
}
/* line 484, ../sass/main.scss */
.flow-step ul .last .step-wrap {
  text-align: center;
  font-size: 16px;
}
/* line 487, ../sass/main.scss */
.flow-step ul .last .step-wrap .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step03.png") no-repeat center;
}
/* line 494, ../sass/main.scss */
.flow-step ul .last .step-done {
  text-align: center;
  font-size: 16px;
}
/* line 497, ../sass/main.scss */
.flow-step ul .last .step-done .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step03-s.png") no-repeat center;
}

/* line 508, ../sass/main.scss */
.order-overview {
  margin-top: 30px;
}
/* line 510, ../sass/main.scss */
.order-overview table {
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
/* line 514, ../sass/main.scss */
.order-overview tr {
  width: 100%;
}
/* line 518, ../sass/main.scss */
.order-overview td {
  line-height: 35px;
  vertical-align: top;
  border-bottom: 1px solid #e5e5e5;
}
/* line 525, ../sass/main.scss */
.order-overview .first {
  width: 760px;
  border-right: 1px solid #e5e5e5;
}
/* line 530, ../sass/main.scss */
.order-overview .sec {
  width: 283px;
}
/* line 533, ../sass/main.scss */
.order-overview .remark {
  color: #888888;
  /* border: none;
   background: transparent;
   width: 100%;*/
}
/* line 539, ../sass/main.scss */
.order-overview p {
  padding: 0 10px;
}
/* line 541, ../sass/main.scss */
.order-overview p a {
  float: right;
  color: #41abf5;
}

/* line 550, ../sass/main.scss */
.refund-information {
  margin-top: 30px;
}
/* line 552, ../sass/main.scss */
.refund-information table {
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
/* line 557, ../sass/main.scss */
.refund-information tr {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
/* line 561, ../sass/main.scss */
.refund-information td {
  width: 208px;
  line-height: 40px;
  height: 40px;
  text-align: center;
}
/* line 567, ../sass/main.scss */
.refund-information .number, .refund-information .time {
  width: 210px;
}

/* line 572, ../sass/main.scss */
.product-information {
  margin-top: 30px;
  font-size: 14px;
}
/* line 575, ../sass/main.scss */
.product-information table {
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
/* line 580, ../sass/main.scss */
.product-information tr {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
/* line 584, ../sass/main.scss */
.product-information th {
  line-height: 35px;
  text-align: center;
}
/* line 588, ../sass/main.scss */
.product-information td {
  height: 80px;
}
/* line 592, ../sass/main.scss */
.product-information .one {
  width: 80px;
  text-align: center;
}
/* line 595, ../sass/main.scss */
.product-information .one a {
  display: inline-block;
  width: 60px;
}
/* line 598, ../sass/main.scss */
.product-information .one a img {
  width: 100%;
  vertical-align: middle;
}
/* line 604, ../sass/main.scss */
.product-information .two {
  width: 245px;
}
/* line 606, ../sass/main.scss */
.product-information .two p {
  line-height: 16px;
  height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
/* line 614, ../sass/main.scss */
.product-information .two i {
  color: #888888;
  line-height: 1;
  height: 14px;
  display: inline-block;
}
/* line 623, ../sass/main.scss */
.product-information .three, .product-information .four, .product-information .five, .product-information .sev, .product-information .six, .product-information .eig {
  width: 120px;
  text-align: center;
}

/* line 630, ../sass/main.scss */
.total {
  margin-top: 30px;
  color: #666666;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
}
/* line 636, ../sass/main.scss */
.total span {
  color: #3f3f3f;
}
/* line 639, ../sass/main.scss */
.total i {
  color: #e39925;
}

/*order-form-detail end*/
/*order-set*/
/* line 657, ../sass/main.scss */
.set-list li {
  display: table;
  margin-bottom: 30px;
}
/* line 660, ../sass/main.scss */
.set-list li span {
  vertical-align: middle;
}
/* line 663, ../sass/main.scss */
.set-list li .active-type {
  display: inline-block;
  width: 40px;
  margin: 0 10px;
}
/* line 667, ../sass/main.scss */
.set-list li .active-type img {
  width: 100%;
  vertical-align: middle;
}
/* line 672, ../sass/main.scss */
.set-list li .set-row {
  display: table-row;
  height: 28px;
  line-height: 28px;
}
/* line 676, ../sass/main.scss */
.set-list li .set-row .set-left {
  padding-bottom: 10px;
  display: table-cell;
  width: 140px;
  text-align: right;
}
/* line 682, ../sass/main.scss */
.set-list li .set-row .set-right {
  display: table-cell;
}
/* line 684, ../sass/main.scss */
.set-list li .set-row .set-right .more-choice {
  width: 230px;
}
/* line 688, ../sass/main.scss */
.set-list li .set-row .set-right .more-choice ul li {
  float: left;
  width: 85px;
  margin: 0 30px 0 0;
}
/* line 695, ../sass/main.scss */
.set-list li .set-row .set-right input[type="text"] {
  margin: 0 10px;
  display: inline-block;
  font-size: 12px;
  height: 28px;
  padding: 5px 7px;
  line-height: 28px;
  border: 1px solid #a0a0a0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  background: transparent;
}
/* line 710, ../sass/main.scss */
.set-list li .set-row .set-right input {
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
/* line 716, ../sass/main.scss */
.set-list li .set-row .set-right .set-time {
  width: 50px;
  text-align: center;
}
/* line 720, ../sass/main.scss */
.set-list li .set-row .set-right .promotions {
  width: 120px;
}
/* line 723, ../sass/main.scss */
.set-list li .set-row .set-right .active-name {
  width: 320px;
}
/* line 726, ../sass/main.scss */
.set-list li .set-row .set-right .day-time {
  width: 150px;
}
/* line 729, ../sass/main.scss */
.set-list li .set-row .set-right .day-time-wrap {
  display: inline-block;
  position: relative;
}
/* line 732, ../sass/main.scss */
.set-list li .set-row .set-right .day-time-wrap .day-time-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -11px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../images/icon/ch-time-icon.png") no-repeat center;
}
/* line 743, ../sass/main.scss */
.set-list li .set-row .set-right .prompt {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0px 15px;
  border: 1px dashed #8ccaf6;
  background-color: #d4e8f5;
  color: #666666;
}
/* line 751, ../sass/main.scss */
.set-list li .set-row .set-right .prompt b {
  color: red;
}
/* line 755, ../sass/main.scss */
.set-list li .set-row .set-right select {
  display: inline-block;
  font-size: 14px;
  width: 130px;
  height: 28px;
  padding: 0 7px;
  line-height: 28px;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0 10px;
}
/* line 770, ../sass/main.scss */
.set-list li .set-row .set-right .checkbox {
  display: none;
}

/*order-set-end*/
/*order-logistics*/
/* line 783, ../sass/main.scss */
.order-logistics {
  margin-left: 50px;
  font-size: 14px;
}

/* line 787, ../sass/main.scss */
.o-title {
  font-size: 18px;
  line-height: 30px;
}

/* line 791, ../sass/main.scss */
.new-stencil {
  margin: 10px 0 15px;
}
/* line 793, ../sass/main.scss */
.new-stencil a {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  width: 110px;
  background-color: #43bb00;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  text-align: center;
}

/* line 808, ../sass/main.scss */
.stencil-table {
  width: 900px;
  border-top: 1px solid #a0a0a0;
  border-left: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
}
/* line 813, ../sass/main.scss */
.stencil-table .stencil-top {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #a0a0a0;
}
/* line 817, ../sass/main.scss */
.stencil-table .stencil-top i {
  display: inline-block;
  padding-left: 15px;
}
/* line 821, ../sass/main.scss */
.stencil-table .stencil-top span {
  float: right;
}
/* line 823, ../sass/main.scss */
.stencil-table .stencil-top span b {
  display: inline-block;
  color: #888888;
  margin: 0 10px;
}
/* line 828, ../sass/main.scss */
.stencil-table .stencil-top span a {
  display: inline-block;
  margin: 0 10px;
  color: #41abf5;
}
/* line 837, ../sass/main.scss */
.stencil-table .stencil-bottom tr {
  border-bottom: 1px solid #a0a0a0;
}
/* line 840, ../sass/main.scss */
.stencil-table .stencil-bottom th {
  width: 125px;
  height: 35px;
  text-align: center;
  border-left: 1px solid #a0a0a0;
}
/* line 846, ../sass/main.scss */
.stencil-table .stencil-bottom .first {
  width: 399px;
  border: none;
}
/* line 850, ../sass/main.scss */
.stencil-table .stencil-bottom td {
  height: 44px;
  text-align: center;
  border-left: 1px solid #a0a0a0;
}
/* line 855, ../sass/main.scss */
.stencil-table .stencil-bottom .one {
  text-align: left;
  border: none;
  padding: 0 15px;
}

/*order-logistics-end*/
/*vip-form-list*/
/* line 868, ../sass/main.scss */
.vip-form-list {
  margin: 30px 0;
  font-size: 14px;
}
/* line 872, ../sass/main.scss */
.vip-form-list thead tr {
  height: 35px;
  line-height: 35px;
}
/* line 876, ../sass/main.scss */
.vip-form-list thead th {
  text-align: center;
}
/* line 879, ../sass/main.scss */
.vip-form-list thead .first {
  width: 25px;
}
/* line 882, ../sass/main.scss */
.vip-form-list thead .portrait, .vip-form-list thead .tag {
  width: 80px;
}
/* line 885, ../sass/main.scss */
.vip-form-list thead .rank {
  width: 90px;
}
/* line 888, ../sass/main.scss */
.vip-form-list thead .r-time {
  width: 90px;
}
/* line 891, ../sass/main.scss */
.vip-form-list thead .emali {
  width: 160px;
}
/* line 894, ../sass/main.scss */
.vip-form-list thead .p-num {
  width: 110px;
}
/* line 897, ../sass/main.scss */
.vip-form-list thead .site {
  width: 130px;
}
/* line 900, ../sass/main.scss */
.vip-form-list thead .l-time {
  width: 120px;
}
/* line 903, ../sass/main.scss */
.vip-form-list thead .group {
  width: 100px;
}
/* line 906, ../sass/main.scss */
.vip-form-list thead .status {
  width: 50px;
}
/* line 912, ../sass/main.scss */
.vip-form-list tbody tr {
  background-color: #e9dede;
  height: 90px;
  border-bottom: 1px solid #a0a0a0;
}
/* line 917, ../sass/main.scss */
.vip-form-list tbody td {
  text-align: center;
  line-height: 22px;
}
/* line 922, ../sass/main.scss */
.vip-form-list .img-link {
  display: inline-block;
  width: 60px;
}
/* line 925, ../sass/main.scss */
.vip-form-list .img-link img {
  width: 100%;
  vertical-align: middle;
}
/* line 931, ../sass/main.scss */
.vip-form-list .name a {
  color: #41abf5;
}
/* line 935, ../sass/main.scss */
.vip-form-list .icon {
  display: inline-block;
  width: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
/* line 940, ../sass/main.scss */
.vip-form-list .icon img {
  width: 100%;
  vertical-align: middle;
}
/* line 945, ../sass/main.scss */
.vip-form-list .online {
  color: #43bb00;
}
/* line 948, ../sass/main.scss */
.vip-form-list .tag-icon {
  display: inline-block;
  width: 55px;
  height: 24px;
  line-height: 24px;
  background-color: #f39800;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
}
/* line 961, ../sass/main.scss */
.vip-form-list .operation-link {
  color: #41abf5;
  margin: 0 5px;
}

/*vip-form-list-end*/
/*active-list*/
/* line 974, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .first {
  width: 25px;
}
/* line 977, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .portrait {
  width: 80px;
}
/* line 980, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .rank {
  width: 100px;
}
/* line 983, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .site, .active-list-wrap .vip-form-list thead .r-time, .active-list-wrap .vip-form-list thead .emali, .active-list-wrap .vip-form-list thead .l-time {
  width: 150px;
}
/* line 986, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .group {
  width: 130px;
}
/* line 989, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .status {
  width: 100px;
}

/*active-list-end*/
/*vip-rank*/
/* line 1005, ../sass/main.scss */
.vip-rank-table {
  font-size: 14px;
  margin-top: 30px;
  border: 1px solid #a0a0a0;
  border-bottom: none;
  width: 1045px;
}
/* line 1011, ../sass/main.scss */
.vip-rank-table tr {
  border-bottom: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
}
/* line 1017, ../sass/main.scss */
.vip-rank-table thead th {
  width: 188px;
  color: #888888;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-left: 1px solid #a0a0a0;
}
/* line 1025, ../sass/main.scss */
.vip-rank-table thead .first {
  width: 98px;
  border: none;
}
/* line 1032, ../sass/main.scss */
.vip-rank-table tbody td {
  text-align: center;
  padding: 15px 0;
  border-left: 1px solid #a0a0a0;
}
/* line 1037, ../sass/main.scss */
.vip-rank-table tbody .first {
  color: #888888;
  border: none;
}
/* line 1042, ../sass/main.scss */
.vip-rank-table p {
  line-height: 28px;
}
/* line 1044, ../sass/main.scss */
.vip-rank-table p b {
  display: inline-block;
  width: 70px;
  text-align: right;
}
/* line 1050, ../sass/main.scss */
.vip-rank-table input {
  display: inline-block;
  font-size: 14px;
  width: 60px;
  height: 22px;
  padding: 3px 7px;
  line-height: 22px;
  border: 1px solid #a0a0a0;
  background: transparent;
  margin-left: 8px;
}
/* line 1061, ../sass/main.scss */
.vip-rank-table .enable {
  display: inline-block;
  padding: 3px 15px;
  background-color: #43bb00;
  color: #fff;
}

/* line 1073, ../sass/main.scss */
.message {
  margin-top: 10px;
  font-size: 14px;
  height: 17px;
  line-height: 17px;
  padding-left: 20px;
  background: url("../images/icon/message-icon.png") no-repeat left center;
}

/*vip-rank-end*/
/*set-up-active*/
/* line 1087, ../sass/main.scss */
.set-up-block {
  margin-bottom: 20px;
}
/* line 1089, ../sass/main.scss */
.set-up-block .set-up-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f39800;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
}

/*set-up-active-end*/
/*active-type*/
/* line 1122, ../sass/main.scss */
.active-type-list {
  width: 1045px;
  overflow: hidden;
}
/* line 1125, ../sass/main.scss */
.active-type-list ul {
  width: 1052px;
}
/* line 1127, ../sass/main.scss */
.active-type-list ul li {
  float: left;
  width: 256px;
  margin-right: 7px;
  height: 90px;
  background-color: #fff;
  margin-bottom: 20px;
}
/* line 1134, ../sass/main.scss */
.active-type-list ul li .active-type-img {
  float: left;
  width: 80px;
}
/* line 1138, ../sass/main.scss */
.active-type-list ul li .active-type-img a img {
  vertical-align: middle;
  width: 100%;
}
/* line 1144, ../sass/main.scss */
.active-type-list ul li .active-type-word {
  float: left;
  padding: 10px 0 0 10px;
}
/* line 1147, ../sass/main.scss */
.active-type-list ul li .active-type-word h3 {
  font-size: 18px;
}
/* line 1150, ../sass/main.scss */
.active-type-list ul li .active-type-word p {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}
/* line 1155, ../sass/main.scss */
.active-type-list ul li .active-type-word a {
  display: inline-block;
  color: #41abf5;
  font-size: 16px;
  margin-top: 10px;
}

/*active-type-end*/
/*main end*/
/* line 3, ../sass/main2.scss */
.border-r {
  display: inline-block;
  font-size: 12px;
  height: 28px;
  padding: 3px 7px;
  line-height: 28px;
  color: #9c9c9c;
  border: 1px solid #a0a0a0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  width: 130px;
}

/* line 21, ../sass/main2.scss */
.button-style {
  font-size: 14px;
  height: 28px;
  padding: 3px 7px;
  border: 1px solid #a0a0a0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #888888;
  background: #fff;
  width: 40px;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 5px;
}

/* line 38, ../sass/main2.scss */
.cancel {
  width: 80px;
}

/* line 42, ../sass/main2.scss */
.set-submit {
  color: #fff;
  background: #41abf5;
  width: 80px;
  border: 1px solid #41abf5;
}

/* line 49, ../sass/main2.scss */
.file-box {
  color: #fff;
  background: #41abf5;
  width: auto;
  padding: 7px;
  height: auto;
  display: inline-block;
  border: 1px solid #41abf5;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}

/* line 61, ../sass/main2.scss */
.file-box-text {
  color: #000000;
  font-size: 14px;
  vertical-align: middle;
}

/* line 67, ../sass/main2.scss */
.input-file {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

/* line 79, ../sass/main2.scss */
.release-button {
  color: #fff;
  background: #43bb00;
  width: 80px;
  border: 1px solid #43bb00;
}

/* line 85, ../sass/main2.scss */
.submit-button {
  color: #fff;
  border: 1px solid #41abf5;
  background: #41abf5;
}

/* line 91, ../sass/main2.scss */
.declare {
  color: #888888;
}

/* line 95, ../sass/main2.scss */
.p-word {
  font-size: 12px;
  color: #888888;
}

/* line 100, ../sass/main2.scss */
.td-top {
  vertical-align: top;
}

/* line 104, ../sass/main2.scss */
.td-middle {
  vertical-align: middle;
}

/* line 108, ../sass/main2.scss */
.check {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #a0a0a0;
  box-sizing: border-box;
  margin-right: 5px;
}

/* line 122, ../sass/main2.scss */
.current.check {
  border: 1px solid transparent;
  background: url("../images/icon/checkbox-icon.png") no-repeat center;
}

/* line 126, ../sass/main2.scss */
.checkbox {
  display: none;
}

/*release-product ----------*/
/* line 138, ../sass/main2.scss */
.release-product-wrap {
  padding-left: 45px;
}

/* line 146, ../sass/main2.scss */
.release-product-wrap ul li {
  padding-bottom: 25px;
}

/* line 150, ../sass/main2.scss */
.release-title {
  font-size: 16px;
}

/* line 154, ../sass/main2.scss */
.release-con {
  padding-left: 60px;
  font-size: 14px;
}

/* line 159, ../sass/main2.scss */
.release-table td {
  padding: 10px;
  position: relative;
}

/* line 163, ../sass/main2.scss */
.release-table .td-title {
  width: 85px;
  text-align: right;
  padding: 10px 0;
  line-height: 28px;
}

/* line 169, ../sass/main2.scss */
.red {
  color: #e60012;
}

/* line 173, ../sass/main2.scss */
.range-radio {
  display: none;
}

/* line 176, ../sass/main2.scss */
.radio-style {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/icon/radio-icon.png") no-repeat center;
  vertical-align: middle;
  margin-right: 5px;
}

/* line 185, ../sass/main2.scss */
.radio-choose.radio-style {
  background: url("../images/icon/radio-icon-ch.png") no-repeat center;
}

/* line 190, ../sass/main2.scss */
.product-title {
  width: 400px;
}

/* line 194, ../sass/main2.scss */
.importing-link {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

/* line 199, ../sass/main2.scss */
.importing-form-wrap {
  display: none;
  position: absolute;
  left: 50%;
  top: 28px;
  margin-left: -150px;
  width: 300px;
  padding: 8px 0 5px;
  background: url("../images/importing-form-bg.png") no-repeat top center;
  z-index: 99;
}

/* line 210, ../sass/main2.scss */
.importing-open .importing-form-wrap {
  display: block;
}

/* line 213, ../sass/main2.scss */
.importing-form {
  display: inline-block;
  padding: 5px 0;
}

/* line 219, ../sass/main2.scss */
.importing-text {
  width: 190px;
  margin-left: 9px;
  border: 1px solid #41abf5;
}

/* line 225, ../sass/main2.scss */
.product-price {
  width: 130px;
  padding-left: 30px;
}

/* line 230, ../sass/main2.scss */
.price-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #a0a0a0;
  display: inline-block;
  height: 28px;
  width: 25px;
  line-height: 28px;
  text-align: center;
  background-color: #e5e5e5;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
}

/* line 248, ../sass/main2.scss */
.add-images {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  cursor: pointer;
}

/* line 255, ../sass/main2.scss */
.add-images img {
  width: 100%;
}

/* line 259, ../sass/main2.scss */
.add-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("../images/icon/add-icon.png") no-repeat center;
}

/* line 266, ../sass/main2.scss */
.add-parameter {
  padding: 0;
  background-color: transparent;
  color: #3f3f3f;
}

/* line 273, ../sass/main2.scss */
.parameter-class {
  width: 546px;
  display: none;
}

/* line 278, ../sass/main2.scss */
.parameter-open .parameter-class {
  display: block;
}

/* line 282, ../sass/main2.scss */
.parameter-open .add-parameter {
  display: none;
}

/* line 286, ../sass/main2.scss */
.parameter-open .parameter-middle .add-parameter {
  display: block;
}

/* line 290, ../sass/main2.scss */
.color-class {
  font-size: 14px;
  padding: 15px;
  border: 1px dashed #a0a0a0;
  position: relative;
}

/* line 296, ../sass/main2.scss */
.close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  height: 18px;
  width: 18px;
  background: url("../images/icon/close-icon.png") no-repeat center;
  cursor: pointer;
}

/* line 306, ../sass/main2.scss */
.color-table {
  padding-top: 10px;
}

/* line 309, ../sass/main2.scss */
.color-table td {
  padding: 5px 0;
  width: 135px;
  text-align: left;
}

/* line 317, ../sass/main2.scss */
.color-name {
  margin-right: 5px;
  vertical-align: middle;
}

/* line 322, ../sass/main2.scss */
.color-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: #764a26;
  vertical-align: middle;
  margin-right: 5px;
}

/* line 330, ../sass/main2.scss */
.color-icon img {
  width: 100%;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 340, ../sass/main2.scss */
.parameter-middle {
  padding: 10px 0;
}

/* line 343, ../sass/main2.scss */
.parameter-link {
  margin-left: 20px;
}

/* line 350, ../sass/main2.scss */
.size-class th {
  padding: 0;
  text-align: center;
}

/* line 354, ../sass/main2.scss */
.size-class td {
  padding: 0;
  text-align: center;
}

/* line 361, ../sass/main2.scss */
.size-table {
  border: 1px solid #a0a0a0;
}

/* line 364, ../sass/main2.scss */
.level-one {
  width: 100%;
}

/* line 367, ../sass/main2.scss */
.level-one th {
  height: 35px;
}

/* line 370, ../sass/main2.scss */
.level-one tbody tr {
  border-top: 1px solid #a0a0a0;
}

/* line 373, ../sass/main2.scss */
.level-one tbody .border-first {
  border-top: none;
}

/* line 377, ../sass/main2.scss */
.level-one th th {
  border-left: 1px solid #a0a0a0;
}

/* line 380, ../sass/main2.scss */
.size-s {
  width: 60px;
}

/* line 383, ../sass/main2.scss */
.size-b {
  width: 120px;
}

/* line 386, ../sass/main2.scss */
.th-input {
  background: transparent;
  border: 1px solid #a0a0a0;
  display: inline-block;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  margin-left: 8px;
  padding: 3px 7px;
  width: 65px;
  vertical-align: middle;
  outline: none;
}

/* line 400, ../sass/main2.scss */
.level-two {
  border-left: 1px solid #a0a0a0;
}

/* line 403, ../sass/main2.scss */
.level-three td {
  height: 35px;
}

/* line 407, ../sass/main2.scss */
.level-three .th-input {
  width: 100px;
  text-align: center;
  margin: 0 auto;
}

/* line 412, ../sass/main2.scss */
.level-three td {
  border-left: 1px solid #a0a0a0;
}

/* line 416, ../sass/main2.scss */
.detail-button {
  color: #3f3f3f;
  width: auto;
  padding: 0  8px  0 26px;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  margin-right: 5px;
  background: url("../images/icon/detail-button-icon.png") no-repeat 0 0;
}

/* line 431, ../sass/main2.scss */
.detail-button:hover {
  background: url("../images/icon/detail-button-icon-h.png") no-repeat;
  color: #56abe4;
  border: 1px solid #56abe4;
}

/* line 437, ../sass/main2.scss */
.detail-button.detail-b-open {
  background-position: 0 -78px;
}

/* line 441, ../sass/main2.scss */
.detail-button.detail-b-screen {
  background-position: 0 -52px;
}

/* line 446, ../sass/main2.scss */
.detail-button.detail-b-img {
  background-position: 0 -26px;
}

/* line 450, ../sass/main2.scss */
.detail-text-open .detail-b-open {
  background: url("../images/icon/detail-button-icon-op.png") no-repeat 0 -78px;
}

/* line 453, ../sass/main2.scss */
.detail-text-open .detail-b-open:hover {
  background: url("../images/icon/detail-button-icon-op-h.png") no-repeat 0 -78px;
}

/* line 457, ../sass/main2.scss */
.new-freight-template {
  margin-left: 20px;
}

/* line 461, ../sass/main2.scss */
.stock-faq {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/icon/faq-icon.png") no-repeat center;
  margin-left: 20px;
}

/* line 468, ../sass/main2.scss */
.stock-faq:hover {
  background: url("../images/icon/faq-icon-h.png") no-repeat center;
}

/* line 471, ../sass/main2.scss */
.td-item {
  height: 28px;
  line-height: 28px;
}

/* line 475, ../sass/main2.scss */
.set-time-select {
  margin-left: 20px;
}

/*release-producte end ----------*/
/*product-list -----*/
/* line 483, ../sass/main2.scss */
.product-list-table {
  margin: 30px 0;
}

/*product-list end-----*/
/*common-table ----------*/
/* line 493, ../sass/main2.scss */
.table-item01 {
  width: 285px;
}

/* line 496, ../sass/main2.scss */
.table-item02 {
  width: 70px;
}

/* line 499, ../sass/main2.scss */
.table-item03 {
  width: 100px;
}

/* line 502, ../sass/main2.scss */
.table-item04 {
  width: 50px;
}

/* line 505, ../sass/main2.scss */
.table-item05 {
  width: 50px;
}

/* line 508, ../sass/main2.scss */
.table-item06 {
  width: 85px;
}

/* line 511, ../sass/main2.scss */
.table-item07 {
  width: 50px;
}

/* line 514, ../sass/main2.scss */
.table-item08 {
  width: 70px;
}

/* line 517, ../sass/main2.scss */
.table-item09 {
  width: 70px;
}

/* line 520, ../sass/main2.scss */
.table-item10 {
  width: 125px;
}

/* line 523, ../sass/main2.scss */
.table-item11 {
  width: 90px;
}

/* line 526, ../sass/main2.scss */
.common-table {
  font-size: 12px;
}

/* line 529, ../sass/main2.scss */
.common-table thead tr {
  height: 26px;
  line-height: 26px;
  border-bottom: 1px solid #a0a0a0;
}

/* line 534, ../sass/main2.scss */
.common-table th {
  text-align: center;
}

/* line 537, ../sass/main2.scss */
.common-table td {
  text-align: center;
}

/* line 540, ../sass/main2.scss */
.common-table p {
  line-height: 16px;
}

/* line 543, ../sass/main2.scss */
.common-table .first-td-left {
  text-align: left;
}

/* line 546, ../sass/main2.scss */
.common-table .table-item01 {
  text-align: left;
}

/* line 549, ../sass/main2.scss */
.common-table tbody tr {
  height: 90px;
  border-bottom: 1px solid #a0a0a0;
}

/* line 553, ../sass/main2.scss */
.common-table tbody tr:hover {
  background-color: #e9dede;
}

/* line 557, ../sass/main2.scss */
.t-img-link {
  display: inline-block;
  width: 60px;
}

/* line 562, ../sass/main2.scss */
.t-img-link img {
  width: 100%;
  vertical-align: middle;
}

/* line 567, ../sass/main2.scss */
.td-word-wrap {
  display: inline-block;
  width: 185px;
  margin-left: 5px;
}

/* line 573, ../sass/main2.scss */
.td-t-link {
  display: inline-block;
  height: 48px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 580, ../sass/main2.scss */
.td-code {
  color: #888888;
  line-height: 1;
}

/* line 584, ../sass/main2.scss */
.now-price {
  color: #ff7200;
}

/* line 587, ../sass/main2.scss */
.online {
  color: #43bb00;
}

/* line 591, ../sass/main2.scss */
table .operation-link {
  color: #41abf5;
  margin: 0 5px;
}

/* line 598, ../sass/main2.scss */
.active-p-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  -o-border-radius: 22px;
  border-radius: 22px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin: 3px;
}

/* line 611, ../sass/main2.scss */
.active-rebate {
  background-color: #c92727;
}

/* line 614, ../sass/main2.scss */
.active-grab {
  background-color: #e7a300;
}

/*common-table end----------*/
/* line 619, ../sass/main2.scss */
.product-warehouse .active-p-icon {
  background-color: #898989;
}

/* line 622, ../sass/main2.scss */
.product-warehouse .online {
  color: #898989;
}

/*all-pop ----------*/
/* line 628, ../sass/main2.scss */
.all-pop {
  font-size: 12px;
  width: 680px;
  height: 440px;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -340px;
  margin-top: -220px;
  display: none;
}

/* line 645, ../sass/main2.scss */
.pop-open .all-pop {
  display: block;
}

/* line 648, ../sass/main2.scss */
.pop-title {
  padding-left: 15px;
  height: 35px;
  line-height: 35px;
  position: relative;
  border-bottom: 1px solid #a0a0a0;
  color: #a0a0a0;
}

/* line 656, ../sass/main2.scss */
.p-close-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../images/icon/p-close-icon.png") no-repeat center;
  cursor: pointer;
}

/* line 666, ../sass/main2.scss */
.pop-con {
  padding: 20px;
}

/* line 670, ../sass/main2.scss */
.pop-con-list-wrap {
  height: 335px;
  width: 640px;
  overflow: hidden;
}

/* line 676, ../sass/main2.scss */
.pop-con-list {
  width: 664px;
}

/* line 679, ../sass/main2.scss */
.pop-con-item {
  width: 140px;
  height: 60px;
  border: 1px solid #4fa7ff;
  position: relative;
  float: left;
  margin: 0 24px 20px 0;
}

/* line 688, ../sass/main2.scss */
.pop-con-item-first {
  border: 1px solid transparent;
}

/* line 693, ../sass/main2.scss */
.pop-con-item-first .pop-con-link {
  background: url("../images/icon/add-folder.png") no-repeat left center;
}

/* line 696, ../sass/main2.scss */
.pop-con-item-first .pop-con-link span {
  padding-top: 15px;
}

/* line 701, ../sass/main2.scss */
.pop-con-link {
  display: block;
  height: 50px;
  margin: 5px;
  line-height: 16px;
  padding-left: 65px;
  background: url("../images/icon/folder-icon.png") no-repeat left center;
  overflow: hidden;
}

/* line 710, ../sass/main2.scss */
.pop-con-link span {
  display: inline-block;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 716, ../sass/main2.scss */
.folder-ch-icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 16px;
  height: 16px;
  background: url("../images/icon/folder-ch-icon.png") no-repeat center;
  display: none;
}

/* line 726, ../sass/main2.scss */
.pop-i-current .folder-ch-icon {
  display: block;
}

/* line 730, ../sass/main2.scss */
.pop-bottom {
  text-align: right;
}

/*all-pop end----------*/
/*product-folder-wrap*/
/* line 737, ../sass/main2.scss */
.product-folder-wrap {
  overflow: hidden;
  margin: 30px 0;
}

/* line 741, ../sass/main2.scss */
.product-folder-list {
  width: 1059px;
}

/* line 745, ../sass/main2.scss */
.product-folder-item {
  width: 160px;
  height: 200px;
  border: 1px solid #a0a0a0;
  float: left;
  margin-bottom: 20px;
  margin-right: 14.5px;
}

/* line 754, ../sass/main2.scss */
.current.product-folder-item {
  border: 1px solid #4fa7ff;
}

/* line 758, ../sass/main2.scss */
.p-folder-img img {
  width: 100%;
  vertical-align: middle;
}

/* line 763, ../sass/main2.scss */
.p-folder-word {
  padding-top: 11px;
  text-align: center;
}

/* line 767, ../sass/main2.scss */
.p-folder-word span {
  font-size: 14px;
  vertical-align: middle;
}

/*product-folder-wrap-end-------*/
/*bulk-upload*/
/* line 780, ../sass/main2.scss */
.bulk-upload .o-title {
  margin-bottom: 25px;
}
/* line 786, ../sass/main2.scss */
.bulk-upload .border-r {
  width: 90px;
}
/* line 789, ../sass/main2.scss */
.bulk-upload .form-group {
  margin: 0px 0 25px;
}

/*bulk-upload -end---*/
/*product-standard -----*/
/* line 802, ../sass/main2.scss */
.title-prompt {
  background-color: #d4e8f5;
  border: 1px dashed #8ccaf6;
  color: #666666;
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
  font-size: 12px;
}

/* line 814, ../sass/main2.scss */
.product-standard-table {
  margin: 25px 0;
}
/* line 816, ../sass/main2.scss */
.product-standard-table table {
  border: 1px solid #a0a0a0;
}
/* line 819, ../sass/main2.scss */
.product-standard-table th {
  text-align: center;
  line-height: 40px;
  border-left: 1px solid #a0a0a0;
}
/* line 824, ../sass/main2.scss */
.product-standard-table td {
  line-height: 40px;
  padding: 0 10px;
  border-left: 1px solid #a0a0a0;
}
/* line 829, ../sass/main2.scss */
.product-standard-table tbody tr {
  border-top: 1px solid #a0a0a0;
}
/* line 832, ../sass/main2.scss */
.product-standard-table .block1 {
  width: 110px;
  text-align: center;
}
/* line 836, ../sass/main2.scss */
.product-standard-table .block2 {
  width: 715px;
}
/* line 840, ../sass/main2.scss */
.product-standard-table .btn-group {
  margin-right: 5px;
}
/* line 842, ../sass/main2.scss */
.product-standard-table .btn-group .btn {
  padding: 3px 7px;
}
/* line 847, ../sass/main2.scss */
.product-standard-table .btn-default {
  background: transparent;
  border-color: #a0a0a0;
}
/* line 851, ../sass/main2.scss */
.product-standard-table .standard-text {
  font-size: 12px;
  width: 50px;
  height: 28px;
  padding: 5px 7px;
  line-height: 28px;
  color: #9c9c9c;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
}

/*product-standard end-----*/
/*footer*/
/* line 3, ../sass/foot.scss */
.footer {
  height: 100px;
  background-color: #666666;
}
/* line 6, ../sass/foot.scss */
.footer p {
  width: 1210px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  padding-top: 25px;
  color: #9b9b9b;
}
/* line 13, ../sass/foot.scss */
.footer p a {
  color: #fff;
}
/* line 17, ../sass/foot.scss */
.footer .top {
  color: #fff;
}

/*footer end*/
