/* line 5, ../sass/main.scss */
#main {
  width: 1210px;
  margin: 25px auto 0;
  position: relative;
}

/* line 10, ../sass/main.scss */
.main-wrap {
  padding-left: 165px;
  padding-bottom: 40px;
}

/* line 14, ../sass/main.scss */
.main-left {
  width: 165px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 22, ../sass/main.scss */
.main-right iframe {
  /*height: 100%;*/
  width: 100%;
}

/* line 28, ../sass/main.scss */
.menu {
  text-align: center;
}
/* line 30, ../sass/main.scss */
.menu ul {
  margin-bottom: 24px;
}
/* line 32, ../sass/main.scss */
.menu ul li {
  height: 30px;
  line-height: 30px;
}
/* line 35, ../sass/main.scss */
.menu ul li a {
  font-size: 14px;
}
/* line 45, ../sass/main.scss */
.menu .products-menu .set-up-block .set-up-button {
  background-color: #43bb00;
}

/*search*/
/* line 58, ../sass/main.scss */
.search .search-top {
  padding-bottom: 10px;
}
/* line 60, ../sass/main.scss */
.search .search-top .name {
  display: inline-block;
  font-size: 12px;
  width: 250px;
  height: 28px;
  padding: 5px 7px;
  line-height: 28px;
  color: #9c9c9c;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
}
/* line 76, ../sass/main.scss */
.search .search-top .submit {
  display: inline-block;
  font-size: 16px;
  width: 105px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  border: none;
  background-color: #41abf5;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 20px;
}
/* line 89, ../sass/main.scss */
.search .search-top .more-filter {
  font-size: 14px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding-right: 20px;
  background: url("../images/icon/arrow-icon.png") no-repeat right center;
  cursor: pointer;
  vertical-align: middle;
}
/* line 99, ../sass/main.scss */
.search .search-top .search-top-right {
  float: right;
}
/* line 101, ../sass/main.scss */
.search .search-top .search-top-right .stock-faq {
  line-height: 16px;
  height: 16px;
  width: auto;
  padding-left: 20px;
  background: url("../images/icon/faq-icon.png") no-repeat left center;
}
/* line 107, ../sass/main.scss */
.search .search-top .search-top-right .stock-faq:hover {
  background: url("../images/icon/faq-icon-h.png") no-repeat left center;
}
/* line 113, ../sass/main.scss */
.search .search-bottom {
  display: none;
}
/* line 116, ../sass/main.scss */
.search .search-bottom .filter-list ul {
  width: 870px;
}
/* line 118, ../sass/main.scss */
.search .search-bottom .filter-list ul li {
  float: left;
  margin: 0  40px 10px 0;
}
/* line 121, ../sass/main.scss */
.search .search-bottom .filter-list ul li span {
  display: inline-block;
  width: 65px;
  text-align: right;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
}
/* line 130, ../sass/main.scss */
.search .search-bottom .filter-list ul li input {
  display: inline-block;
  font-size: 14px;
  width: 120px;
  height: 28px;
  padding: 5px 7px;
  line-height: 28px;
  color: #9c9c9c;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
}
/* line 146, ../sass/main.scss */
.search .search-bottom .filter-list ul li select {
  display: inline-block;
  font-size: 14px;
  width: 120px;
  height: 28px;
  padding: 0 7px;
  line-height: 28px;
  color: #9c9c9c;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
}

/* line 167, ../sass/main.scss */
.search-open.search .search-bottom {
  display: block;
}

/*search end*/
/* line 173, ../sass/main.scss */
.order-form-list-con {
  padding-top: 10px;
}

/*form-pagelist*/
/* line 181, ../sass/main.scss */
.form-pagelist select {
  display: inline-block;
  width: 80px;
  /*padding: 0 7px;*/
  height: 24px;
  line-height: 24px;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 15px;
}
/* line 196, ../sass/main.scss */
.form-pagelist.batch-open .pagelist-left .batch-box {
  display: inline-block;
}
/* line 199, ../sass/main.scss */
.form-pagelist.batch-open .pagelist-left .return-botton {
  display: none;
}
/* line 202, ../sass/main.scss */
.form-pagelist.batch-open .pagelist-left .batch-botton {
  display: none;
}
/* line 206, ../sass/main.scss */
.form-pagelist .pagelist-left {
  float: left;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
/* line 211, ../sass/main.scss */
.form-pagelist .pagelist-left input {
  vertical-align: middle;
}
/* line 214, ../sass/main.scss */
.form-pagelist .pagelist-left span {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
/* line 220, ../sass/main.scss */
.form-pagelist .pagelist-left a {
  cursor: pointer;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  border: 1px solid #a0a0a0;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: 15px;
  vertical-align: middle;
  padding: 0 10px;
}
/* line 235, ../sass/main.scss */
.form-pagelist .pagelist-left .c-img-num {
  margin-right: 50px;
}
/* line 238, ../sass/main.scss */
.form-pagelist .pagelist-left .batch-box {
  margin-right: 90px;
  width: 520px;
  display: none;
}
/* line 244, ../sass/main.scss */
.form-pagelist .pagelist-right {
  float: right;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
/* line 249, ../sass/main.scss */
.form-pagelist .pagelist-right a {
  margin: 0 5px;
  vertical-align: middle;
}
/* line 252, ../sass/main.scss */
.form-pagelist .pagelist-right a:hover {
  color: #41abf5;
}
/* line 256, ../sass/main.scss */
.form-pagelist .pagelist-right i {
  margin: 0 5px;
  vertical-align: middle;
}

/*form-pagelist end*/
/*order-form-list*/
/* line 267, ../sass/main.scss */
.order-form-list {
  margin-top: 15px;
}
/* line 269, ../sass/main.scss */
.order-form-list .order-form-th {
  width: 100%;
}
/* line 272, ../sass/main.scss */
.order-form-list .order-form-th table tr {
  border-bottom: 1px solid #e5e5e5;
  height: 26px;
  line-height: 26px;
}
/* line 276, ../sass/main.scss */
.order-form-list .order-form-th table tr th {
  font-size: 12px;
}
/* line 279, ../sass/main.scss */
.order-form-list .order-form-th table tr .one {
  width: 265px;
}
/* line 282, ../sass/main.scss */
.order-form-list .order-form-th table tr .two, .order-form-list .order-form-th table tr .three, .order-form-list .order-form-th table tr .four, .order-form-list .order-form-th table tr .six, .order-form-list .order-form-th table tr .sev {
  width: 80px;
  text-align: center;
}
/* line 286, ../sass/main.scss */
.order-form-list .order-form-th table tr .five {
  width: 50px;
  text-align: center;
}
/* line 290, ../sass/main.scss */
.order-form-list .order-form-th table tr .sev {
  width: 90px;
  text-align: center;
}
/* line 294, ../sass/main.scss */
.order-form-list .order-form-th table tr .eig, .order-form-list .order-form-th table tr .nine {
  width: 160px;
}

/* line 301, ../sass/main.scss */
.order-form-item {
  margin-top: 5px;
  font-size: 12px;
}
/* line 304, ../sass/main.scss */
.order-form-item .item-top {
  height: 25px;
  line-height: 25px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
}
/* line 309, ../sass/main.scss */
.order-form-item .item-top .top-left {
  float: left;
}
/* line 311, ../sass/main.scss */
.order-form-item .item-top .top-left input {
  vertical-align: middle;
}
/* line 314, ../sass/main.scss */
.order-form-item .item-top .top-left i {
  margin: 0 15px;
  vertical-align: middle;
}
/* line 319, ../sass/main.scss */
.order-form-item .item-top .top-right {
  float: right;
}
/* line 321, ../sass/main.scss */
.order-form-item .item-top .top-right span {
  vertical-align: middle;
}
/* line 324, ../sass/main.scss */
.order-form-item .item-top .top-right a {
  vertical-align: middle;
  margin: 0 10px;
  color: #888888;
}
/* line 328, ../sass/main.scss */
.order-form-item .item-top .top-right a:hover {
  color: #41abf5;
}
/* line 332, ../sass/main.scss */
.order-form-item .item-top .top-right .detail-link {
  margin: 0;
  color: #41abf5;
}
/* line 342, ../sass/main.scss */
.order-form-item .table-wrap .wrap-td {
  width: 160px;
  vertical-align: top;
}
/* line 346, ../sass/main.scss */
.order-form-item .table-wrap .wrap-td p {
  line-height: 18px;
}
/* line 348, ../sass/main.scss */
.order-form-item .table-wrap .wrap-td p .to-revise {
  color: #41abf5;
  display: inline-block;
}
/* line 353, ../sass/main.scss */
.order-form-item .table-wrap .wrap-td .last {
  text-align: center;
}
/* line 358, ../sass/main.scss */
.order-form-item .table-wrap .first {
  width: 725px;
}
/* line 360, ../sass/main.scss */
.order-form-item .table-wrap .first tr {
  height: 80px;
}
/* line 363, ../sass/main.scss */
.order-form-item .table-wrap .first td {
  vertical-align: top;
  line-height: 18px;
}
/* line 366, ../sass/main.scss */
.order-form-item .table-wrap .first td a {
  color: #3f3f3f;
}
/* line 369, ../sass/main.scss */
.order-form-item .table-wrap .first td .trading-success {
  color: #adc645;
}
/* line 372, ../sass/main.scss */
.order-form-item .table-wrap .first td .refund-success {
  color: #e39925;
}
/* line 378, ../sass/main.scss */
.order-form-item .table-wrap .first .one {
  width: 60px;
}
/* line 381, ../sass/main.scss */
.order-form-item .table-wrap .first .two {
  width: 205px;
}
/* line 385, ../sass/main.scss */
.order-form-item .table-wrap .first .td-wrap {
  padding-left: 10px;
}
/* line 387, ../sass/main.scss */
.order-form-item .table-wrap .first .td-wrap p {
  line-height: 16px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
/* line 395, ../sass/main.scss */
.order-form-item .table-wrap .first .td-wrap i {
  color: #888888;
  line-height: 1;
}
/* line 401, ../sass/main.scss */
.order-form-item .table-wrap .first .three, .order-form-item .table-wrap .first .four, .order-form-item .table-wrap .first .five, .order-form-item .table-wrap .first .sev {
  width: 80px;
  text-align: center;
}
/* line 405, ../sass/main.scss */
.order-form-item .table-wrap .first .six {
  width: 50px;
  text-align: center;
}
/* line 409, ../sass/main.scss */
.order-form-item .table-wrap .first .eig {
  width: 90px;
  text-align: center;
}
/* line 412, ../sass/main.scss */
.order-form-item .table-wrap .first .eig a {
  display: block;
}

/*order-form-list end*/
/*order-form-detail*/
/* line 427, ../sass/main.scss */
.serial-number {
  font-size: 18px;
  color: #1347b1;
  line-height: 30px;
}

/* line 432, ../sass/main.scss */
.flow-step {
  margin-top: 30px;
}
/* line 434, ../sass/main.scss */
.flow-step ul {
  width: 1045px;
}
/* line 436, ../sass/main.scss */
.flow-step ul li {
  width: 209px;
  float: left;
}
/* line 439, ../sass/main.scss */
.flow-step ul li .step-wrap {
  text-align: center;
  font-size: 16px;
}
/* line 445, ../sass/main.scss */
.flow-step ul li .step-wrap .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step02.png") no-repeat center;
}
/* line 450, ../sass/main.scss */
.flow-step ul li .step-wrap .step-time {
  color: #888888;
}
/* line 454, ../sass/main.scss */
.flow-step ul li .step-done {
  text-align: center;
  font-size: 16px;
}
/* line 457, ../sass/main.scss */
.flow-step ul li .step-done .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step02-s.png") no-repeat center;
}
/* line 467, ../sass/main.scss */
.flow-step ul .first .step-wrap .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step01.png") no-repeat center;
}
/* line 473, ../sass/main.scss */
.flow-step ul .first .step-done {
  text-align: center;
  font-size: 16px;
}
/* line 476, ../sass/main.scss */
.flow-step ul .first .step-done .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step01-s.png") no-repeat center;
}
/* line 484, ../sass/main.scss */
.flow-step ul .last .step-wrap {
  text-align: center;
  font-size: 16px;
}
/* line 487, ../sass/main.scss */
.flow-step ul .last .step-wrap .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step03.png") no-repeat center;
}
/* line 494, ../sass/main.scss */
.flow-step ul .last .step-done {
  text-align: center;
  font-size: 16px;
}
/* line 497, ../sass/main.scss */
.flow-step ul .last .step-done .step-num {
  margin: 15px 0;
  height: 25px;
  background: url("../images/icon/step03-s.png") no-repeat center;
}

/* line 508, ../sass/main.scss */
.order-overview {
  margin-top: 30px;
}
/* line 510, ../sass/main.scss */
.order-overview table {
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
/* line 514, ../sass/main.scss */
.order-overview tr {
  width: 100%;
}
/* line 518, ../sass/main.scss */
.order-overview td {
  line-height: 35px;
  vertical-align: top;
  border-bottom: 1px solid #e5e5e5;
}
/* line 525, ../sass/main.scss */
.order-overview .first {
  width: 760px;
  border-right: 1px solid #e5e5e5;
}
/* line 530, ../sass/main.scss */
.order-overview .sec {
  width: 283px;
}
/* line 533, ../sass/main.scss */
.order-overview .remark {
  color: #888888;
  /* border: none;
   background: transparent;
   width: 100%;*/
}
/* line 539, ../sass/main.scss */
.order-overview p {
  padding: 0 10px;
}
/* line 541, ../sass/main.scss */
.order-overview p a {
  float: right;
  color: #41abf5;
}

/* line 550, ../sass/main.scss */
.refund-information {
  margin-top: 30px;
}
/* line 552, ../sass/main.scss */
.refund-information table {
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
/* line 557, ../sass/main.scss */
.refund-information tr {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
/* line 561, ../sass/main.scss */
.refund-information td {
  width: 208px;
  line-height: 40px;
  height: 40px;
  text-align: center;
}
/* line 567, ../sass/main.scss */
.refund-information .number, .refund-information .time {
  width: 210px;
}

/* line 572, ../sass/main.scss */
.product-information {
  margin-top: 30px;
  font-size: 14px;
}
/* line 575, ../sass/main.scss */
.product-information table {
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
/* line 580, ../sass/main.scss */
.product-information tr {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
/* line 584, ../sass/main.scss */
.product-information th {
  line-height: 35px;
  text-align: center;
}
/* line 588, ../sass/main.scss */
.product-information td {
  height: 80px;
}
/* line 592, ../sass/main.scss */
.product-information .one {
  width: 80px;
  text-align: center;
}
/* line 595, ../sass/main.scss */
.product-information .one a {
  display: inline-block;
  width: 60px;
}
/* line 598, ../sass/main.scss */
.product-information .one a img {
  width: 100%;
  vertical-align: middle;
}
/* line 604, ../sass/main.scss */
.product-information .two {
  width: 245px;
}
/* line 606, ../sass/main.scss */
.product-information .two p {
  line-height: 16px;
  height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
/* line 614, ../sass/main.scss */
.product-information .two i {
  color: #888888;
  line-height: 1;
  height: 14px;
  display: inline-block;
}
/* line 623, ../sass/main.scss */
.product-information .three, .product-information .four, .product-information .five, .product-information .sev, .product-information .six, .product-information .eig {
  width: 120px;
  text-align: center;
}

/* line 630, ../sass/main.scss */
.total {
  margin-top: 30px;
  color: #666666;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
}
/* line 636, ../sass/main.scss */
.total span {
  color: #3f3f3f;
}
/* line 639, ../sass/main.scss */
.total i {
  color: #e39925;
}

/*order-form-detail end*/
/*order-set*/
/* line 657, ../sass/main.scss */
.set-list li {
  display: table;
  margin-bottom: 30px;
}
/* line 660, ../sass/main.scss */
.set-list li span {
  vertical-align: middle;
}
/* line 663, ../sass/main.scss */
.set-list li .active-type {
  display: inline-block;
  width: 40px;
  margin: 0 10px;
}
/* line 667, ../sass/main.scss */
.set-list li .active-type img {
  width: 100%;
  vertical-align: middle;
}
/* line 672, ../sass/main.scss */
.set-list li .set-row {
  display: table-row;
  height: 28px;
  line-height: 28px;
}
/* line 676, ../sass/main.scss */
.set-list li .set-row .set-left {
  padding-bottom: 10px;
  display: table-cell;
  width: 140px;
  text-align: right;
}
/* line 682, ../sass/main.scss */
.set-list li .set-row .set-right {
  display: table-cell;
}
/* line 684, ../sass/main.scss */
.set-list li .set-row .set-right .more-choice {
  width: 230px;
}
/* line 688, ../sass/main.scss */
.set-list li .set-row .set-right .more-choice ul li {
  float: left;
  width: 85px;
  margin: 0 30px 0 0;
}
/* line 695, ../sass/main.scss */
.set-list li .set-row .set-right input[type="text"] {
  margin: 0 10px;
  display: inline-block;
  font-size: 12px;
  height: 28px;
  padding: 5px 7px;
  line-height: 28px;
  border: 1px solid #a0a0a0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  background: transparent;
}
/* line 710, ../sass/main.scss */
.set-list li .set-row .set-right input {
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
/* line 716, ../sass/main.scss */
.set-list li .set-row .set-right .set-time {
  width: 50px;
  text-align: center;
}
/* line 720, ../sass/main.scss */
.set-list li .set-row .set-right .promotions {
  width: 120px;
}
/* line 723, ../sass/main.scss */
.set-list li .set-row .set-right .active-name {
  width: 320px;
}
/* line 726, ../sass/main.scss */
.set-list li .set-row .set-right .day-time {
  width: 150px;
}
/* line 729, ../sass/main.scss */
.set-list li .set-row .set-right .day-time-wrap {
  display: inline-block;
  position: relative;
}
/* line 732, ../sass/main.scss */
.set-list li .set-row .set-right .day-time-wrap .day-time-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -11px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../images/icon/ch-time-icon.png") no-repeat center;
}
/* line 743, ../sass/main.scss */
.set-list li .set-row .set-right .prompt {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0px 15px;
  border: 1px dashed #8ccaf6;
  background-color: #d4e8f5;
  color: #666666;
}
/* line 751, ../sass/main.scss */
.set-list li .set-row .set-right .prompt b {
  color: red;
}
/* line 755, ../sass/main.scss */
.set-list li .set-row .set-right select {
  display: inline-block;
  font-size: 14px;
  width: 130px;
  height: 28px;
  padding: 0 7px;
  line-height: 28px;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0 10px;
}
/* line 770, ../sass/main.scss */
.set-list li .set-row .set-right .checkbox {
  display: none;
}

/*order-set-end*/
/*order-logistics*/
/* line 783, ../sass/main.scss */
.order-logistics {
  margin-left: 50px;
  font-size: 14px;
}

/* line 787, ../sass/main.scss */
.o-title {
  font-size: 18px;
  line-height: 30px;
}

/* line 791, ../sass/main.scss */
.new-stencil {
  margin: 10px 0 15px;
}
/* line 793, ../sass/main.scss */
.new-stencil a {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  width: 110px;
  background-color: #43bb00;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  text-align: center;
}

/* line 808, ../sass/main.scss */
.stencil-table {
  width: 900px;
  border-top: 1px solid #a0a0a0;
  border-left: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
}
/* line 813, ../sass/main.scss */
.stencil-table .stencil-top {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #a0a0a0;
}
/* line 817, ../sass/main.scss */
.stencil-table .stencil-top i {
  display: inline-block;
  padding-left: 15px;
}
/* line 821, ../sass/main.scss */
.stencil-table .stencil-top span {
  float: right;
}
/* line 823, ../sass/main.scss */
.stencil-table .stencil-top span b {
  display: inline-block;
  color: #888888;
  margin: 0 10px;
}
/* line 828, ../sass/main.scss */
.stencil-table .stencil-top span a {
  display: inline-block;
  margin: 0 10px;
  color: #41abf5;
}
/* line 837, ../sass/main.scss */
.stencil-table .stencil-bottom tr {
  border-bottom: 1px solid #a0a0a0;
}
/* line 840, ../sass/main.scss */
.stencil-table .stencil-bottom th {
  width: 125px;
  height: 35px;
  text-align: center;
  border-left: 1px solid #a0a0a0;
}
/* line 846, ../sass/main.scss */
.stencil-table .stencil-bottom .first {
  width: 399px;
  border: none;
}
/* line 850, ../sass/main.scss */
.stencil-table .stencil-bottom td {
  height: 44px;
  text-align: center;
  border-left: 1px solid #a0a0a0;
}
/* line 855, ../sass/main.scss */
.stencil-table .stencil-bottom .one {
  text-align: left;
  border: none;
  padding: 0 15px;
}

/*order-logistics-end*/
/*vip-form-list*/
/* line 868, ../sass/main.scss */
.vip-form-list {
  margin: 30px 0;
  font-size: 14px;
}
/* line 872, ../sass/main.scss */
.vip-form-list thead tr {
  height: 35px;
  line-height: 35px;
}
/* line 876, ../sass/main.scss */
.vip-form-list thead th {
  text-align: center;
}
/* line 879, ../sass/main.scss */
.vip-form-list thead .first {
  width: 25px;
}
/* line 882, ../sass/main.scss */
.vip-form-list thead .portrait, .vip-form-list thead .tag {
  width: 80px;
}
/* line 885, ../sass/main.scss */
.vip-form-list thead .rank {
  width: 90px;
}
/* line 888, ../sass/main.scss */
.vip-form-list thead .r-time {
  width: 90px;
}
/* line 891, ../sass/main.scss */
.vip-form-list thead .emali {
  width: 160px;
}
/* line 894, ../sass/main.scss */
.vip-form-list thead .p-num {
  width: 110px;
}
/* line 897, ../sass/main.scss */
.vip-form-list thead .site {
  width: 130px;
}
/* line 900, ../sass/main.scss */
.vip-form-list thead .l-time {
  width: 120px;
}
/* line 903, ../sass/main.scss */
.vip-form-list thead .group {
  width: 100px;
}
/* line 906, ../sass/main.scss */
.vip-form-list thead .status {
  width: 50px;
}
/* line 912, ../sass/main.scss */
.vip-form-list tbody tr {
  background-color: #e9dede;
  height: 90px;
  border-bottom: 1px solid #a0a0a0;
}
/* line 917, ../sass/main.scss */
.vip-form-list tbody td {
  text-align: center;
  line-height: 22px;
}
/* line 922, ../sass/main.scss */
.vip-form-list .img-link {
  display: inline-block;
  width: 60px;
}
/* line 925, ../sass/main.scss */
.vip-form-list .img-link img {
  width: 100%;
  vertical-align: middle;
}
/* line 931, ../sass/main.scss */
.vip-form-list .name a {
  color: #41abf5;
}
/* line 935, ../sass/main.scss */
.vip-form-list .icon {
  display: inline-block;
  width: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
/* line 940, ../sass/main.scss */
.vip-form-list .icon img {
  width: 100%;
  vertical-align: middle;
}
/* line 945, ../sass/main.scss */
.vip-form-list .online {
  color: #43bb00;
}
/* line 948, ../sass/main.scss */
.vip-form-list .tag-icon {
  display: inline-block;
  width: 55px;
  height: 24px;
  line-height: 24px;
  background-color: #f39800;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
}
/* line 961, ../sass/main.scss */
.vip-form-list .operation-link {
  color: #41abf5;
  margin: 0 5px;
}

/*vip-form-list-end*/
/*active-list*/
/* line 974, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .first {
  width: 25px;
}
/* line 977, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .portrait {
  width: 80px;
}
/* line 980, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .rank {
  width: 100px;
}
/* line 983, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .site, .active-list-wrap .vip-form-list thead .r-time, .active-list-wrap .vip-form-list thead .emali, .active-list-wrap .vip-form-list thead .l-time {
  width: 150px;
}
/* line 986, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .group {
  width: 130px;
}
/* line 989, ../sass/main.scss */
.active-list-wrap .vip-form-list thead .status {
  width: 100px;
}

/*active-list-end*/
/*vip-rank*/
/* line 1005, ../sass/main.scss */
.vip-rank-table {
  font-size: 14px;
  margin-top: 30px;
  border: 1px solid #a0a0a0;
  border-bottom: none;
  width: 1045px;
}
/* line 1011, ../sass/main.scss */
.vip-rank-table tr {
  border-bottom: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
}
/* line 1017, ../sass/main.scss */
.vip-rank-table thead th {
  width: 188px;
  color: #888888;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-left: 1px solid #a0a0a0;
}
/* line 1025, ../sass/main.scss */
.vip-rank-table thead .first {
  width: 98px;
  border: none;
}
/* line 1032, ../sass/main.scss */
.vip-rank-table tbody td {
  text-align: center;
  padding: 15px 0;
  border-left: 1px solid #a0a0a0;
}
/* line 1037, ../sass/main.scss */
.vip-rank-table tbody .first {
  color: #888888;
  border: none;
}
/* line 1042, ../sass/main.scss */
.vip-rank-table p {
  line-height: 28px;
}
/* line 1044, ../sass/main.scss */
.vip-rank-table p b {
  display: inline-block;
  width: 70px;
  text-align: right;
}
/* line 1050, ../sass/main.scss */
.vip-rank-table input {
  display: inline-block;
  font-size: 14px;
  width: 60px;
  height: 22px;
  padding: 3px 7px;
  line-height: 22px;
  border: 1px solid #a0a0a0;
  background: transparent;
  margin-left: 8px;
}
/* line 1061, ../sass/main.scss */
.vip-rank-table .enable {
  display: inline-block;
  padding: 3px 15px;
  background-color: #43bb00;
  color: #fff;
}

/* line 1073, ../sass/main.scss */
.message {
  margin-top: 10px;
  font-size: 14px;
  height: 17px;
  line-height: 17px;
  padding-left: 20px;
  background: url("../images/icon/message-icon.png") no-repeat left center;
}

/*vip-rank-end*/
/*set-up-active*/
/* line 1087, ../sass/main.scss */
.set-up-block {
  margin-bottom: 20px;
}
/* line 1089, ../sass/main.scss */
.set-up-block .set-up-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f39800;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
}

/*set-up-active-end*/
/*active-type*/
/* line 1122, ../sass/main.scss */
.active-type-list {
  width: 1045px;
  overflow: hidden;
}
/* line 1125, ../sass/main.scss */
.active-type-list ul {
  width: 1052px;
}
/* line 1127, ../sass/main.scss */
.active-type-list ul li {
  float: left;
  width: 256px;
  margin-right: 7px;
  height: 90px;
  background-color: #fff;
  margin-bottom: 20px;
}
/* line 1134, ../sass/main.scss */
.active-type-list ul li .active-type-img {
  float: left;
  width: 80px;
}
/* line 1138, ../sass/main.scss */
.active-type-list ul li .active-type-img a img {
  vertical-align: middle;
  width: 100%;
}
/* line 1144, ../sass/main.scss */
.active-type-list ul li .active-type-word {
  float: left;
  padding: 10px 0 0 10px;
}
/* line 1147, ../sass/main.scss */
.active-type-list ul li .active-type-word h3 {
  font-size: 18px;
}
/* line 1150, ../sass/main.scss */
.active-type-list ul li .active-type-word p {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}
/* line 1155, ../sass/main.scss */
.active-type-list ul li .active-type-word a {
  display: inline-block;
  color: #41abf5;
  font-size: 16px;
  margin-top: 10px;
}

/*active-type-end*/
/*main end*/
