<div id='component-search-form'>
    <form>     
        <div class="section">搜索框设置</div>
        <div class='filed-wrapper clearfix'>
            <div class="field-label">上间距</div> 
            <div class="field">
                无：<input <% if(hasMarginTop == 'no') print('checked="checked"') %> data-role='hasMarginTop' type='radio' name='has_margin_top' class='field-margin-top' value='no'/>
                有：<input <% if(hasMarginTop == 'yes')  print('checked="checked"') %> data-role='hasMarginTop' type='radio' name='has_margin_top' class='field-margin-top' value='yes'/>
            </div>
        </div>
        <div class='filed-wrapper clearfix'>
            <div class="field-label">Logo</div> 
            <div class="field">
                <div class="logo image-upload" data-name="logo">
                    <img src="<%= logo %>"/>
                </div>
            </div>
        </div>
    
        <div class="section">选择模板</div>
        <div class='filed-wrapper clearfix'>
            <div class="title-theme">
                <% for (i = 1; i<=5; i++) { %>
                <div class="select-wrapper <% if(templateId == 'tpl_'+i) print('active') %>" data-role="templateId"
                     data-val="tpl_<%= i %>">
                    <div class="tpl-image tpl_<%= i %>"></div>
                    <div class="selected-icon"></div>
                </div>
                <% } %>
            </div>
        </div>

        <div class="section">选择搜索框样式</div>
        <div class='filed-wrapper clearfix'>
            <div class="title-theme">
                <% for (i = 1; i<=3; i++) { %>
                <div class="select-wrapper <% if(themeId == 'theme-'+i) print('active') %>" data-role="themeId" data-val="theme-<%= i %>">
                    <div class="theme-image theme-<%= i %>"></div>
                    <div class="selected-icon"></div>
                </div>
                <% } %>
            </div>
        </div>

        <div class="section">搜索关键字提示</div>
        <div class='filed-wrapper clearfix'>
            <input data-role="placeholder" type="text" class="field-title with-role" placeholder="搜索关键字提示" value="<%= placeholder %>"/>
        </div>
    </form>
</div>